.about-page{


  .about-intro{
    background: #FCD237;
    position: relative;
    z-index: 10;


    .about-img{
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
      img{
        max-width: 100%;
        display: inline-block;
      }
    }

    .about-txt{
      padding-top: 50px;
      padding-bottom: 50px;

      h2{
        font-weight: 700;
        font-size: 28px;
        color: #0A0A0A;
        letter-spacing: 0.93px;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';
      }

      p{
        font-size: 19px  ;
        color: #191919;
        letter-spacing: -0.4px;
        line-height: 30px;
        padding-bottom: 20px;
        font-family: 'Melior'  ;
      }

    }


  }

  .about-intro-black{
    background: #272727;
    text-align: center;

    @media (max-width: 767px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    span{
      display: inline-block;
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 0.8px;
      line-height: 78px;
      padding: 0px 30px;
      margin: 0px 30px;

      @media (max-width: 991px) {
        padding: 0px 20px;
        margin: 0px 20px;
        font-size: 20px;
      }

      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        line-height: 30px;
        padding: 0px;
        margin: 0px;
      }

        &:before{
          content: '•';
          font-size: 20px;
          margin-left: -60px;
          position: absolute;

          @media (max-width: 767px) {
            display: none;
          }
        }

      &:first-child{
        &:before{
          content:'';
        }
      }




     }
  }



.about-contentbox{
  float: left;
  width: 100%;
  padding: 50px 0px;
  position: relative;

  .submenu{
    width: 250px;
    height: 100vh;
    float: left;

    @media (max-width: 768px) {
      width: 170px;
    }

    ul{
      padding: 0;
      margin: 0;
      float: left;
      width: 100%;

      li{
        float: left;
        width: 100%;
        text-align: right;
        margin-bottom: 30px;
        list-style-type: none;

        @media (max-width: 768px) {
          margin-bottom: 10px;
        }

        @media (max-width: 767px) {
          text-align: center;
        }

        a{
          font-weight: bold;
          line-height: 40px;
          font-size: 16px;
          color: #343434;
          letter-spacing: 0.53px;
          padding-right: 30px;
          border-right: 4px solid #fff;
          text-transform: uppercase;
          display: inline-block;
          font-family: 'Open Sans Condensed';

          @media (max-width: 768px) {
            line-height: 30px;
            font-size: 13px;
            padding-right: 20px;
          }

          @media (max-width: 767px) {
            width: 100%;
            border-right: 0px;
          }

          &.active{
            border-right: 4px solid #D8232A;

            @media (max-width: 767px) {
              border-right: 0px;
            }
          }
        }
      }
    }


    &.fixed{
      position: fixed;
      top:   55px;
      z-index:5;

      @media (max-width: 767px) {
        position:  relative;
        float: left;
        width: 100%;
        padding-bottom: 30px;
        top: auto;
      }
    }


    @media (max-width: 767px) {
      position: relative;
      top: auto;
      width: 100%;
      height: auto;
    }

  }

  .about_content{
    float: right;
    width: calc(100% - 250px);
    padding-left: 60px;

    @media (max-width: 768px) {
      width: calc(100% - 170px);
      padding-left: 30px;
    }

    @media (max-width: 767px) {
      width: 100%;
    }

    .section-heading{
      text-transform: uppercase;
    }

    .target{
      padding-bottom: 50px;
    }

    .sectiondata{
      padding-top: 30px;

      p{
        font-size: 19px  ;
        color: #191919;
        letter-spacing: -0.4px;
        line-height: 30px;
        padding-bottom: 20px;
        font-family: 'Melior'  ;
      }
    }


  //  history

  .history-block{
    .soundcloudaudio{
      padding: 30px 0px;
    }
  }

  .history-magazin{
    .magazin-img{
      float: left;
      width: 300px;
      padding-bottom: 30px;
      
      p{
        font-size: 15px;
        padding: 15px 0 0 0;
        margin: 0;
        color: #000;
        float: left;
        width: 100%;
      }

      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }

      img{
        width: 100%;

        @media (max-width: 768px) {
          display: inline-block;
        }
      }
    }

    .magazin-txt{
      float: left;
      width: calc(100% - 300px);
      padding-left: 40px;

      @media (max-width: 768px) {
        width: 100%;
        padding-left: 0;
      }
    }
  }


  }


}


//  our team
  .our-team-block{

    .himal_editors{

      .editor_item{


        .member-img{
          float: left;
          width: 100%;
          text-align: center;

          img{
            width: 140px;
            border-radius: 50%;
            display: inline-block;
          }
        }
      }

      .member-txt{
        float: left;
        width: 100%;
        padding:  0px  ;

        h3{
          text-align: center;
          font-weight: 700;
          font-size: 16px;
          color: #424242;
          letter-spacing: 0.6px;
          text-align: center;
          line-height: 31px;
          text-transform: uppercase;
          font-family:  'Lato', sans-serif;
        }

        h4{
          font-weight: 700;
          font-size: 14px;
          color: #D8232A;
          letter-spacing: 1.27px;
          text-align: center;
          line-height: 22px;
          text-transform: uppercase;
          font-family: 'Open Sans Condensed';
        }

      }



    }


    .other_editors{


      .editor-block{
        width: 90%;


        h2{
          border-bottom:   1px solid #BCBCBC;
          padding: 0px;
          float: left;
          width: 100%;
          margin-bottom: 30px;

          span{
            background: #fff;
            margin-bottom: -10px;
            font-weight: 700;
            font-size: 18px;
            color: #D8232A;
            letter-spacing: 0.53px;
            line-height: 56px;
            text-transform: uppercase;
            float: left;
            margin-bottom: -25px;
            padding:0 30px 0 0;
            font-family: 'Open Sans Condensed';
          }
        }


        h4{
          font-weight:700;
          font-size: 16px;
          color: #424242;
          letter-spacing: 0.57px;
          line-height: 25px;
          padding-bottom: 5px;
          text-transform: uppercase;
          font-family:  'Lato', sans-serif;
        }

        .halfwidth{
          float: left;
          width: 50%;

          @media (max-width: 768px) {
            width: 100%;
          }
        }


      }

    }
  }



  .contact-block{




     .sectiondata{

       .contact-item{
         float: left;
         width: 100%;
         margin-bottom: 15px;
         background-size: 15px;
         background-position: top 10px left;
         background-repeat: no-repeat;
         padding-left: 35px;

         p{
           font-size: 20px  ;
           color: #191919;
           letter-spacing: -0.4px;
           line-height: 30px;
           padding-bottom: 20px;
           font-family:   'Lato', sans-serif;
         }

         a{
           color: #D8232A;
         }



         h3{
           font-family:  'Lato', sans-serif;
           font-size: 20px;
           color: #424242;
           letter-spacing: 0.67px;
           line-height: 32px;
         }

       }

    }



  }
}