.archive-wrap{
  .magazine-banner{
    padding:40px 0px;

    .coverdata{
      display: none;
    }

    .container{
      max-width: 800px;
    }

    .magzine-img-block{
      float: left;


      .img-wrap{
        float: left;
        width: 100%;

        img{
          float: left;
          width: 100%;
        }
      }

      .mag-txt{
        padding: 30px  0px;
        float: left;
        width: 100%;

        h3{
          font-size: 18px;
          color: #000000;
          letter-spacing: 1.78px;
          line-height: 42px;
          height: 42px;
          display: inline-block;
          font-weight: 700;
          padding: 0px 3px;
          margin: 0px;
          text-transform: uppercase;
          width: auto;
          max-width: calc(100% - 90px);
        }


      }

      &.magzine-img{
        width: 40%;

        @media (max-width: 767px) {
          width: 100%;
        }

        .mag-txt{
          text-align: center;

          a{
            opacity: 1;

            &.mg-link-left{
              float: left;
            }
            &.mg-link-right{
              float: right;
            }

            &:hover{
              opacity:1;
            }
          }
        }
      }



      &.magzine-img-left{
        width: 30%;

        @media (max-width: 767px) {
          width:0;
          display:  none;
        }

        .mag-txt{
          text-align: right;

          h3{
            color: #D0D2D4;
            padding: 0px 30px 0 0;
          }
        }
      }



      &.magzine-img-right{
        width: 30%;

        @media (max-width: 767px) {
          width:0;
          display:  none;
        }


        .mag-txt{
          text-align: left;

          h3{
            color: #D0D2D4;
            padding: 0px 0 0 30px;
          }
        }
      }

    }
  }


  .magazine-content{
    padding-top: 50px;

    .news-item{
      float: left;
      width: 100%;
      padding-bottom: 35px;
      margin-top: 35px;
      border-bottom: 1px solid #BCBCBC;

      .news-img{
        float: right;
        width : 310px;
        padding-left: 30px;
        background-size: cover;

        @media (max-width: 767px) {
          width: 220px;
        }
        @media (max-width: 480px) {
          width: 110px;
          padding-left: 20px;
        }

        img{
          float: left;
          width: 100%;
        }
      }

      .news-txt{
        float: left;
        width: calc(100% - 310px);

        @media (max-width: 767px) {
          width: calc(100% - 220px);
        }
        @media (max-width: 480px) {
          width: calc(100% - 110px);
        }

        &.fullwidth{
          width: 100%;
        }

        h3{
          padding-top: 0px;
          margin-top: 0px;
          a{
            font-weight: 900;
            font-size: 24px;
            color: #0A0A0A;
            letter-spacing: 0.8px;
            line-height: 28px;
            text-transform: uppercase;

            &:hover{
              color: #D8232A;
            }
          }
        }

        p{
          font-size: 16px;
          color: #191919;
          letter-spacing: 0.53px;
          line-height: 26px;
        }

        h4{
          padding: 0px;
          margin: 0px;
          font-weight: 600 ;
          font-size: 14px;
          color: #6C6C6C;
          letter-spacing: 1.27px;
          text-transform: uppercase;
          font-family: 'Open Sans Condensed';

          a{
            font-size: 14px;
            color: #6C6C6C;
            font-family: 'Open Sans Condensed';

            &:hover{
              color: #D8232A;
            }
          }
        }
      }


    }



    .magazine-content-wrap{


      .category_list{
        float: left;
        width: 100%;

        .catetitlebox{
          float: left;
          width: 100%;
          border-top: 1px solid #BCBCBC;
          border-bottom: 1px solid #BCBCBC;
          margin-top: 30px;

          h2{
            font-weight:bold;
            text-transform: uppercase;
            font-size: 24px;
            color: #0A0A0A;
            letter-spacing: 0.8px;
            text-align: center;
            line-height: 80px;
             height: 80px;
            padding: 0;
            margin: 0px;
          }

        }

        .news-item{
          &:last-child{
            border:0px;
          }
        }
      }
    }



  }




}

.populer-news{
  .populer-heading{
    margin-bottom: 30px;

    h2{
      font-weight: 700;
      font-size: 24px;
      color: #0A0A0A;
      letter-spacing: 0.8px;
      border-bottom:   4px solid #D8232A;
      text-transform: uppercase;
      padding: 0 0 20px 0px;
    }
  }

  .populer-info{
    float: left;
    width: 100%;

    .more-item{
      float: left;
      width: 100%;
      border-bottom: 1px solid #BCBCBC;
      padding-bottom: 30px;
      margin-bottom: 30px;

      h3{
        padding-top: 0px;
        margin-top: 0px;
        a{
          font-weight: 700;
          font-size: 24px;
          color: #0A0A0A;
          letter-spacing: 0.8px;
          line-height: 28px;

          &:hover{
            color: #D8232A;
          }
        }
      }

      p{
        font-size: 16px;
        color: #191919;
        letter-spacing: 0.53px;
        line-height: 26px;
      }

      h4{
        padding: 10px 0px;
        margin: 0px;
        font-weight: 600 ;
        font-size: 14px;
        color: #6C6C6C;
        letter-spacing: 1.27px;
      }
    }

  }
}



.backto_archive{
  background: #EDF0F1;
  text-align: center;
  padding: 40px 0px;

  a{
    float: left;
    font-weight: 700;
    font-size: 20px;
    color: #0A0A0A;
    letter-spacing: 0.67px;
    text-transform: uppercase;
    margin-top: 15px;
    padding-left: 40px;
    line-height: 40px;
    background: url("images/archive-left.png") left center no-repeat;
    background-size: 30px;

    &:hover{
      color: #D8232A;
    }

    @media (max-width: 767px) {
      display:  inline-block;
      float:  none;
      margin: 0 0 20px 0px;
    }
  }


  h3{
    display: inline-block;
    width: auto;
    font-weight: 700;
    font-size: 24px;
    color: #0A0A0A;
    letter-spacing: 0.8px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    margin : 0;
    text-transform: uppercase;

    @media (max-width: 767px) {
      width: 100%;
      float:  left;
    }

    span{
      font-size: 16px;
    }

  }


  .single-archive-link{

    h3{
      padding: 20px 0px;
    }
    a{
      float: right;
      background: #000000;
      font-size: 18px;
      color: #FFFFFF;
      letter-spacing: 1.4px;
      height: 52px;
      line-height: 52px;
      padding: 0px 30px;
      border-radius: 26px ;
      border: 1px solid #000000;
      margin: 0px;

      &:hover{
        background: #000000;
        color: #fff;
      }

      @media (max-width: 991px) {
        float: none;
        margin: 0px auto;
        display: inline-block;
      }
    }
  }



}




.category-wrap{

  .first-articlewrap{


    .search-title{
      padding-top: 40px;

      h1{
        text-align: center;
        padding: 0;
        margin: 0;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #0A0A0A;
        letter-spacing: 1.53px;
      }
    }


    .search-bar{
      padding-top: 40px;

      .search-box{
        text-align: center;

        .search-field{
          float: none;
          max-width: 800px;
          display: inline-block;
          width: 100%;

          form{
            float: left;
            width: 100%;

             .btn.searchsubmit{
               float: right;
               max-width: 200px;
               margin: 0px;
            }

            input[type="text"]{
              float: left;
              width: calc(100% - 200px);
            }
          }
        }

      }


      .search-info-box{
        padding-top: 20px;
        text-align: left;

        p{
          padding-bottom: 10px;
          border-bottom: 1px solid #BCBCBC;
        }
      }


    }



    .category-title{
      padding-top: 40px;

      h1{
        text-align: center;
        padding: 0;
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 46px;
        color: #0A0A0A;
        letter-spacing: 1.53px;
      }
    }

    .category-sublist{
      padding-top: 20px;
      padding-bottom: 40px;
      text-align: center;

      .current-cat-title{
        display: none;
      }

      a{
        display: inline-table ;
        font-weight: 700;
        font-size: 15px;
        color: #343434;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        opacity: 1;
        line-height: 30px;
        height: 30px;
        padding-bottom: 6px;
        padding-top: 15px;
        border-bottom: 3px solid #fff;
        margin: 0px 15px ;

        &.active{
          border-bottom: 3px solid #D8232A;
        }

      }
    }



    .news-item{
      float: left;
      width: 100%;

      .news-img{
        float: left;
        width: 100%;
        padding-bottom: 30px;

        img{
          float: left;
          width: 100%;
        }
      }


      .news-txt{
        float: left;
        width: 100%;
        padding-bottom: 40px;

        .taglist{
          float: left;
          width: 100%;

          ul{
            padding: 0;
            margin: 0px;
            width: 100%;
            float: left;

            li{
              display: inline-block;
              padding:  0 5px 0 0;
              margin: 0 5px 5px 0px;
              border-right: 1px solid #C9C9C9;
              list-style-type: none;

              &:last-child{
                border:0px;
                padding-right:0px;
                margin-right: 0px;
              }



              a{
                font-size: 13px;
                color: #D8232A;
                letter-spacing: 0.43px;
                line-height: 14px;
                float: left;
                text-transform: uppercase;

                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }

        }


        h3{
          float: left;
          width: 100%;
          padding:   20px 0px;
          margin: 0px;

          a{
            font-weight: 900;
            text-transform: uppercase;
            font-size: 40px;
            color: #0A0A0A;
            letter-spacing: 1.33px;
          }
        }


        p{
          font-size: 21px;
          color: #191919;
          letter-spacing: 0.7px;
          line-height: 40px;
        }

        h4{
          font-weight: 500;
          font-size: 16px;
          color: #6C6C6C;
          letter-spacing: 1.45px;
          line-height: 25px;

          a{
            font-size: 14px;
            color: #6C6C6C;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed';

            &:hover{
              color: #D8232A;
            }
          }
        }




      }
    }

  }




  .remaining-articlewrap{
    padding: 60px 0px;

    .news-item{
      float: left;
      width: 100%;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #BCBCBC;

      .news-img{
        float: right;
        width: 280px;
        margin-left: 20px;
        background-size: cover;
        min-height: 200px;

        @media (max-width: 767px) {
          width: 220px;
        }
        @media (max-width: 480px) {
          width: 110px;
          padding-left: 20px;
        }

        img{
          float: left;
          width: 100%;
        }
      }


      .news-txt{
        float: left;
        width: calc(100% - 300px);

        @media (max-width: 767px) {
          width: calc(100% - 240px);
        }
        @media (max-width: 480px) {
          width: calc(100% - 130px);
        }

        .taglist{
          float: left;
          width: 100%;

          ul{
            padding: 0;
            margin: 0px;
            width: 100%;
            float: left;

            li{
              display: inline-block;
              padding:  0 5px 0 0;
              margin: 0 5px 5px 0px;
              border-right: 1px solid #C9C9C9;
              list-style-type: none;

              &:last-child{
                border:0px;
                padding-right:0px;
                margin-right: 0px;
              }



              a{
                font-size: 14px;
                color: #D8232A;
                letter-spacing: 0.43px;
                line-height: 16px;
                float: left;
                text-transform: uppercase;
                font-family: 'Open Sans Condensed';

                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }

        }


        h3{
          padding-top: 0px;
          margin-top: 0px;
          a{
            font-weight: 900;
            text-transform: uppercase;
            font-size: 24px;
            color: #404040;
            letter-spacing: 0.53px;
            line-height: 28px;

            &:hover{
              color: #D8232A;
            }
          }
        }



        p{
          font-size: 16px;
          color: #191919;
          letter-spacing: 0.53px;
          line-height: 26px;
        }

        h4{
          padding: 10px 0px;
          margin: 0px;
          font-weight: 600 ;
          font-size: 14px;
          color: #6C6C6C;
          letter-spacing: 1.27px;
          font-family: 'Open Sans Condensed';

          a{
            font-size: 14px;
            color: #6C6C6C;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed';

            &:hover{
              color: #D8232A;
            }
          }
        }

        &.fullwidth{
          width: 100%;
        }

      }

      &.no-results{
        p{
          font-size: 16px;
        }
      }
    }



    .more-article-item{

      .col-md-3{
        float: left;
        width: 100%;
        padding: 0 0 30px 0px;
        margin-bottom: 30px;
        border-bottom: 1px solid #BCBCBC;

        .article-img{
          float: right;
          width: 280px;
          margin-left: 20px;
          height: 200px;
          background-size: cover;

          @media (max-width: 767px) {
            width: 100%;
            margin: 0 0 30px 0;
          }

        }

        .article-txt{
          float: left;
          width: calc(100% - 300px);

          @media (max-width: 767px) {
            width: 100%;
          }

           .taglist {
            float: left;
            width: 100%;
             ul {
               padding: 0;
               margin: 0px;
               width: 100%;
               float: left;

                li {
                 display: inline-block;
                 padding: 0 5px 0 0;
                 margin: 0 5px 5px 0px;
                 border-right: 1px solid #C9C9C9;
                 list-style-type: none;

                  &:last-child {
                    border: 0px;
                    padding-right: 0px;
                    margin-right: 0px;
                  }

                  a{
                    font-size: 13px;
                    color: #D8232A;
                    letter-spacing: 0.43px;
                    line-height: 14px;
                    float: left;
                    text-transform: uppercase;
                  }

               }
             }
          }


          h2{
            float: left;
            width: 100%;
            padding: 0 0 20px 0px;
            margin: 0px;
            margin: 0;

            a{
              font-weight: 700;
              font-size: 16px;
              color: #404040;
              letter-spacing: 0.53px;
              line-height: 20px;
            }
          }

          .home_author{
            display: none;
          }

          .descriptions{
            font-size: 16px;
            color: #191919;
            letter-spacing: 0.53px;
            line-height: 26px;
            float: left;
            width: 100%;
            padding-bottom: 15px;
          }

          .allpage_author{
            padding: 10px 0px;
            margin: 0px;
            font-weight: 600;
            font-size: 14px;
            color: #6C6C6C;
            letter-spacing: 1.27px;
            float: left;
          }
        }

      }
    }




  }


  .desktop-latest{
    display: block;
    @media (max-width: 991px) {
      display: none;
    }
  }


  .mobile-latest{
    display: none;
    @media (max-width: 991px) {
      display: block;
      padding-top: 30px;
    }
  }
}




.loadmore-wrapper{
  float: left;
  width: 100%;


  .bliss_loadmore{
    text-align: center;
    width: 100%;
    float: left;
    background: transparent;

    @media (max-width: 991px) {
      margin-bottom: 40px;
    }

    span{
      text-align: center;
      border-radius: 20px;
      padding: 0 20px;
      height: 40px;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid #D8232A;
      margin: 0px auto;

      font-family: 'Open Sans Condensed';
      font-weight: 600;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.47px;
      line-height: 40px;
      background: #D8232A;
      text-transform: uppercase;



      &:hover{
        color: #D8232A !important;
        background: #fff !important;
      }
    }

  }
}


.latest-news{

  .populer-heading{
    float: left;
    width: 100%;

    h2{
      font-weight: 700;
      font-size: 24px;
      color: #343434;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      border-bottom: 4px solid rgba( 0,  0,  0, 0.2);
      float: left;
      width: 100%;
      padding: 0px;

      span{
        border-bottom: 4px solid #D8232A;
        padding-bottom: 20px;
        float: left;
        margin-bottom: -4px;
        font-family: 'Open Sans Condensed';
        font-weight: 700;
      }
    }
  }


  .populer-info{
    float: left;
    width: 100%;
    padding-top: 20px;

    .more-item{
      float: left;
      width: 100%;
      border-bottom: 1px solid #BCBCBC;
      padding-bottom: 20px;
      margin-bottom: 20px;


      h3{
        padding-top: 0px;
        margin-top: 0px;
        a{
          font-weight: 700;
          font-size: 16px;
          color: #404040;
          letter-spacing: 0.53px;
          line-height: 28px;
          text-transform: uppercase;
          font-family: 'Melior';

          &:hover{
            color: #D8232A;
          }
        }
      }

      p{
        font-size: 14px;
        color: #191919;
        letter-spacing: 0.53px;
        line-height: 26px;
        font-family:  'Lato', sans-serif;
      }

      h4{
        padding: 10px 0px;
        margin: 0px;
        font-weight: 600 ;
        font-size: 14px;
        color: #6C6C6C;
        letter-spacing: 1.27px;
        font-family: 'Open Sans Condensed';

        a{
          font-weight: 600 ;
          font-size: 14px;
          color: #6C6C6C;
          text-transform: uppercase;
          font-family: 'Open Sans Condensed';

          &:hover{
            color: #D8232A;
          }
        }
      }
    }

  }

}

.show-advance-out{
  float: left;
  width: 100%;
  padding-top: 20px;


  a{
    float: right;
    font-size: 15px;
    color: #333;
    padding-right: 20px;
    background: url('images/dark-arrowhead-down.png') center right no-repeat;
  }
}

.ad_search_bar{
  float: left;
  width: 100%;

  ul{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0px;
    text-align: center;

    li{
      width: auto;
      float: none;
      display:  inline-block;
      padding: 0px 15px;
      text-align: left;
      padding-top: 20px;
      display: none;

      label{
        float: left;
        width: 100%;
      }


      .chosen-container{
        float: left;
        width: 100% ;
        min-width:100%;

        a{
          border: 1px solid #000;
          background-image: none !important;
          box-shadow: 0 0px 0 #666 inset !important;
          color: #000;
          height: 40px;
          line-height: 40px;
          padding: 0px 15px;
          background-color: transparent;
          border-radius: 0px;
          font-size: 13px;
          letter-spacing: 0.88px;
          float: left;
          width: 100%;
        }

        b{
          height: 30px;
          margin-top: 10px;
        }
      }

      h4{
        float: left;
        width: 100%;
        text-align: left;
        font-size: 13px;
        color: #000;
        font-weight: 700;
        letter-spacing: 0.88px;
        text-transform: uppercase;
      }

      &.sf-field-search{
        float: left;
        width: 100%;
        border-bottom: 1px solid #000;
        padding-bottom: 15px;
        display: block;

        label{
          float: left;
          width: 100%;
        }

        input[type="text"]{
          font-size: 32px;
          color: #000;
          letter-spacing: 1.07px;
          line-height: 40px;
          height: 40px;
          border: 0px;
          float: left;
          background-color: transparent;
          width: 100%;
          padding: 0;
          margin: 0;
          text-align: left;

          @media (max-width: 767px) {
            font-size: 18px;
          }
        }

      }


      &.sf-field-submit{
        width: auto;
        float: none;
        position: absolute;
        right: 0;
        display: block;

        input[type="submit"]{
          width: 40px;
          height: 40px;
          float: right;
          font-size: 0;
          color: transparent;
          border: 0;
          background: url('images/dark-search-btn.png') center no-repeat ;
          background-color: transparent;
        }


      }

      &.sf-field-category{
        width: 30%;
        float: left;
        select{
          width: 100% !important;
        }

        @media (max-width: 767px) {
         width: 100%;
        }
      }

      &.sf-field-author{
        width: 30%;
        float: left;

        select{
          width: 100% !important;
        }

        @media (max-width: 767px) {
          width: 100%;
        }
      }

      &.sf-field-post_date {
        width: 40%;
        float: left;

        ul{
          li{
            width: 50%;
            padding: 0px 5px 0px 0px;
            float: left;

            input{
              border: 1px solid #000;
              background-image: none !important;
              box-shadow: 0 0px 0 #000 inset !important;
              color: #000;
              height: 40px;
              line-height: 40px;
              padding: 0px 15px;
              background-color: transparent;
              border-radius: 0px;
              font-size: 13px;
              letter-spacing: 0.88px;
              float: left;
              width: 100%;
            }

            span{
              display: none;
            }
          }
        }

        @media (max-width: 767px) {
          width: 100%;
        }
      }





      }
  }
}


.ipg-pages{

  .ipg-info-box{
    .container{
      max-width: 800px;
    }
  }

  .ipg-reqest {
    text-align: center;

    .btn-red{
      margin-top: 20px;
      height: 30px;
      line-height: 30px;
    }

    input[type="submit"]{
      &.upme-button{
        float: none;
        display: inline-block;
        margin: 20px 0px;

      }
    }
  }

  .payment-title-top{
    background: #F7DA47;
    padding: 30px;

    .container{
      max-width: 800px;
    }

    .title-txt{
      text-align: center;
      background: #000;

      p{
        padding: 20px;
        margin: 0px;
        text-align: center;
        color: #fff;
        font-family: 'Open Sans Condensed';
        font-weight:  700;
        font-size: 40px;

      }
    }

    .title-img{
      text-align: center;

      img{
        display: inline-block;
        margin-bottom: -140px;
      }
    }
  }

  .payment-option-heading{
    padding-top: 150px;

    h2{
      text-align: center;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 24px;
      color: #404040;
      letter-spacing: 0.53px;
      line-height: 28px;
    }
  }

  .payment-option-top{
    float: left;
    padding-top: 30px;

    .container{
      max-width: 600px;
    }

    .option-block-wrap{
      padding: 30px;
      background: #FDF7D0;

      .reqst-head{

        strong{
          text-align: center;
          color: #D8232A;
          text-transform: uppercase;
          font-size: 22px;
          line-height: 24px;
          font-weight: 700;
          float: left;
          width: 100%;
          padding-bottom: 15px;
        }

        span{
          color: #333;
          font-weight: 700;
          font-size: 18px;
          float: left;
          width: 100%;
          text-align: center;
        }
      }

      .request-more-info{
        padding-top: 30px;


        ul{
          padding: 10px 30px;
          margin: 0px;
          float: left;
          width: 100%;

          li{
            list-style-image: url('images/list-icon-tick.png');
            float: left;
            width: 100%;
            padding-bottom: 10px;
            text-align: left;
            font-size: 18px;
          }
        }
      }
    }
  }


  .title-row{
    h3{
      span{
        float: right;
        font-size: 14px;
      }
    }
  }

}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
  opacity: 1;
}





.ll-skin-melon .ui-datepicker-header,
.searchandfilter-date-picker .ui-datepicker select.ui-datepicker-month,
.searchandfilter-date-picker .ui-datepicker select.ui-datepicker-year{
  background: #D8232A;
}

.ll-skin-melon .ui-datepicker-calendar thead{
  background: #D8232A;
}