.archive-wrap{


  .newslterwrap-single{
    &.fixed{
      position:  fixed;
      top: 160px;

      @media (max-width: 991px) {
        position:  relative;
        top: auto;
      }
    }
  }

  .article-content-wrap{

    @media (max-width: 767px) {
      float: left;
      width: 100%;
    }


    &.ipg-confirm-box{


       input[type="submit"].upme-button{
        float: right;

         @media (max-width: 767px) {
           float: left;
         }
      }
    }
  }


  .article-img{

    .article-img-big{
      float: left;
      width: 100%;


      img{
        width: 100%;
        float: left;
      }
    }

    .article-img-small{
      text-align: left;
      padding-top: 40px;

      .img-caption{
        text-align: left;
        padding: 20px  0 0 0;
      }

      img{
        float: none;
        display: inline-block;
        width: auto;
        max-width: 100%;
      }
    }

  }


  .article-info-box{
    padding: 30px 0px;

    .upme-button{
      @media (max-width: 470px) {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
        min-width: 100%;
      }
    }
    
    .btn-red{
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.47px;
      border: 1px solid #666;
      background: #666;
      display: inline-block;
      float: left;
      height: 30px;
      line-height: 30px;
      padding:  0px 30px;
      text-align: center;
      cursor: pointer;
      font-family: 'Open Sans Condensed';

      @media (max-width: 470px) {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
      }
      
      &:hover{
        background: #fff;
        color: #666;
      }
    }

    .card-details{
      padding-top: 40px;

      strong{
        width: 250px;
        display: inline-block;
      }
    }


    .latest-news{
      margin-top: 30vh;

      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }



    .container-inner{
      margin: auto;
      max-width: 100%;
      width: 100%;
    }

    .heading-box{
      border-bottom:   1px solid #BCBCBC;

      .backbtn{
        float: left;
        font-weight: 700;
        font-size: 17px;
        color: #191919;
        letter-spacing: 0.31px;
        text-transform: uppercase;
        padding-left: 15px;
        background: url("images/arrow-head-left.png") left center no-repeat;
      }
    }

    .taglist{
      float: left;
      width: 100%;
      padding:  20px 0 0 0;

      ul{
        padding: 0;
        margin: 0px;
        width: 100%;
        float: left;

        li{
          display: inline-block;
          padding:  0 5px 0 0;
          margin: 0 5px 5px 0px;
          border-right: 1px solid #C9C9C9;
          list-style-type: none;

          &:last-child{
            border:0px;
            padding-right:0px;
            margin-right: 0px;
          }

          a{
            font-size: 17px;
            color: #D8232A;
            letter-spacing: 0.43px;
            line-height: 14px;
            float: left;
            text-transform: uppercase;

            &:hover{
              text-decoration: underline;
            }
          }
        }
      }

    }


    .title-row{
      h1{
        padding: 10px 0px;
        margin: 0px;
        font-weight: 900;
        font-size: 50px;
        color: #0A0A0A;
        letter-spacing: 1.33px;
        line-height: 60px;


        @media (max-width: 767px) {
          font-size: 40px;
          line-height: 50px;
          letter-spacing: 1.1px;
        }

      }

      h3{
        font-weight: 400;
        font-size: 20px;
        color: #191919;
        letter-spacing: 0.8px;
        line-height: 25px;
        padding: 10px 0px;
        margin: 0px;
        font-family:  'Lato', sans-serif;
      }
    }


    .sub-row{
      float: left;
      width: 100%;
      padding: 15px 0 30px 0px;

      span{
        font-weight: 500;
        font-size: 17px;
        color: #737373;
        letter-spacing: 0.31px;
        font-family: 'Open Sans Condensed';

        &.author{
          color: #191919;
          text-transform: uppercase;

          a{
            color: #737373;
          }
        }
      }
    }


  }


  .article-txt{
    padding-top: 50px;
    font-size: 18px;
    color: #191919;




    .thumbnail{
      border: 0px;
    }


    blockquote {
      overflow: visible;
      font-family: 'Open Sans Condensed';
      font-size: 30px;
      line-height: 40px;
      font-style: normal;
      border:0px;
      color: #777;
      font-weight: 700;

      background: transparent;
      position: relative; 
      padding: 50px;
      width: calc(100% - 60px);
      margin : 40px 30px;

      @media (max-width: 767px) {
        padding: 30px ;
        margin: 30px 0px;
        width: 100%;
        font-size: 40px;
      }

      p{

        font-family: 'Open Sans Condensed';
        font-size: 30px !important;
        font-style: normal;
        font-weight: 700;

        @media (max-width: 767px) {
          text-align: justify;
          font-size: 24px !important;

          p{
            padding-left: 0px;
          }
        }

      }

      em{
        font-style: normal;
      }

      &:after{
        content: '';
        width: 50px;
        height: 50px;
        background: url("images/quote-right.png") center no-repeat;
        position: absolute;
        bottom: 40px;
        margin-right: -30px;
        background-size: 50px;
        left: auto;
        right: 0;

        @media (max-width: 767px) {
          width: 25px;
          height: 25px;
          background-size: 25px;
          margin-right: -20px;
        }
      }

      &:before{
        content: '';
        width: 100px;
        height: 100px;
        background: url("images/quote-left.png") center no-repeat;
        position: absolute;
        left: -50px;
        top: -20px;
        background-size: 100px;

        @media (max-width: 767px) {
          width: 50px;
          height: 50px;
          background-size: 50px;
          left: -10px;
        }
      }

    }



    .article-line{
      float: right;
      width:100%;

      @media (max-width: 767px) {
        width: 100%;
      }

      p{
        .icon-last{
          display: inline-block;
          width: 19px ;
          height: 34px;
          background: url("images/icon-end-angle.png") bottom right no-repeat;
          background-size: 15px;
        }
      }
    }


    .article-line-txt{
      font-size: 16px !important;
      color: #191919;
      letter-spacing: 0.4px;
      line-height: 20px;
      font-family:  'Lato', sans-serif;
    }

    p{
      font-size: 19px !important;
      color: #191919;
      letter-spacing: -0.4px;
      line-height: 30px;
      padding-bottom: 20px;
      font-family: 'Melior';

      &.wp-caption-text{
        font-size: 15px !important;
        color: #000;
        line-height: 20px;
      }

      &.comment-form-cookies-consent{
        padding-top: 30px;

        input{
          margin-right: 15px;
        }

        label{
          font-size: 14px;
        }

      }

      span{
        font-size: 19px;
        color: #191919;
      }

      .drop_cap{
        font-size: 60px;
        color: #191919;
        letter-spacing: 2px;
        line-height: 35px;
        padding-top:  8px;
        float: left;
      }
    }
  }


  .relatedarticle-box{
    padding: 50px 0px;

    .article-item{
      margin-bottom: 15px;
      margin-top: 15px;
    }



    .artilce-wrap{



      .article-img{
        float: left;
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 40vh;
        max-height: 235px;
      }

      .article-txt{
        border: 1px solid #E1E8ED;
        float: left;
        width: 100%;
        border-top:0px;
        padding: 25px;
        overflow: hidden;


        .taglist{
          float: left;
          width: 100%;

          ul{
            padding: 0;
            margin: 0px;
            width: 100%;
            float: left;

            li{
              display: inline-block;
              padding:  0 5px 0 0;
              margin: 0 5px 5px 0px;
              border-right: 1px solid #C9C9C9;
              list-style-type: none;

              &:last-child{
                border:0px;
                padding-right:0px;
                margin-right: 0px;
              }



              a{
                font-size: 14px;
                color: #D8232A;
                letter-spacing: 0.43px;
                line-height: 14px;
                float: left;
                text-transform: uppercase;
                font-family: 'Open Sans Condensed';

                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }

        }

        .titlebox{
          float: left;
          width: 100%;
          padding: 5px 0px 15px 0px;

          h2{
            padding: 0;
            margin: 0px;
          }


          a{
            font-weight: 700;
            font-size: 17px;
            color: #0A0A0A;
            letter-spacing: 0.57px;
            line-height: 28px;
            float: left;
            width: 100%;
            text-transform: uppercase;

            &:hover{
              color: #D8232A;
            }
          }

          span{
            font-size: 12px;
            color: #6C6C6C;
            letter-spacing: 1.09px;
            font-family: 'Open Sans Condensed';

            a{
              font-size: 14px;
              color: #000;
              width: auto;
              text-transform: uppercase;
              padding-right: 5px;


              &:hover{
                color: #D8232A;
              }

            }
          }
        }

        .descriptions{
          float: left;
          width: 100%;
          font-size: 14px;
          color: #191919;
          letter-spacing: 0.47px;
          line-height: 26px;

          p{
            font-family:  'Lato', sans-serif;
            font-size: 18px !important;
          }
        }
      }



    }

  }



  .easyPaginateNav{
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0px;
    
    a{
      display:  inline-block;
      padding: 10px;
      margin: 0px 1px;
      background: #efefef;
      font-size: 15px;
      line-height: 15px;
      color: #D8232A;
      
      &.current{
        color: #666; 
      }

      &.first, &.prev, &.last, &.next{
        font-size: 10px;
      }
    }
  }

}


.comment-btn{


  a{
    background: #D8232A;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-weight: 700;
    border: 1px solid #D8232A;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 0px 40px;
    float: right;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';

    &:hover{
      color: #D8232A;
      background: #fff;
    }
  }
}




.comment-line{
  padding: 30px 0px;
  display:  none;

  .comment{
    p{
      font-family: 'Open Sans Condensed' !important;
      font-weight: 300;
      font-size: 18px !important;
      line-height: 28px;
    }
  }

  textarea{
    background: #fff;
  }

  .submit{
    padding: 0px 30px;
    width: auto;
  }

  .comment-respond{

    h3{
      padding: 40px 0px 30px 0px;
      margin: 0px;
      font-weight: 700;
      font-size: 30px;
      color: #0A0A0A;
      letter-spacing: 1.33px;
      line-height: 50px;
      border-top: 1px solid #ddd;
    }

  }

}







.authour-wrap{
  .section-heading{
    h2{
      span{

        font-family: 'Open Sans Condensed';
        font-weight: 700;
      }
    }
  }

}


.authour-info {
  padding-bottom: 40px;

  .section-heading{
    margin-bottom: 30px;
  }

  .section-description{
    p{
      font-size: 21px;
      color: #191919;
      letter-spacing: 0.7px;
      line-height: 40px;
      font-family:  'Lato', sans-serif;
      padding-bottom: 40px;
    }
  }

  .authour-more{

    p{
      font-weight: 900;
      font-size: 26px;
      color: #B3B3B3;
      letter-spacing: 0.87px;
      text-transform: uppercase;

      strong{
        color: #0A0A0A;
      }
    }
    border-bottom:   1px solid #BCBCBC;



  }
  

}

.article-meta{
  padding: 15px;
  background: #efefef ;
  margin:  0px;
  border-radius: 5px;

  .auhtour-info{
    font-size: 18px;
    font-family: 'Open Sans Condensed';

    a{
      font-weight: 900;
      font-size: 18px;
      color: #0A0A0A;
      letter-spacing: 0.8px;
      line-height: 28px;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed';

      &:hover{
        color: #D8232A;
      }
    }

    h5{
      margin: 0;
      padding: 0;
    }
  }


  .auhtour-disc{
    padding-top: 5px;
    font-size: 19px;

    h4{
      font-weight: 900;
    }

    h5{
      font-weight: 700;
    }

    p{
      font-family: 'Open Sans Condensed' !important;
      font-weight: 300;
      font-size: 18px !important;
      line-height: 28px;
    }
  }

  .article-tags{
    padding-top: 10px;
    color: #000;

    a{
      font-size: 12px;
      color: #0A0A0A;
      letter-spacing: 0.8px;
      line-height: 20px;

      &:hover{
        color: #D8232A;
      }
    }
  }
}

.single-btm{
  z-index: 6;
  position: relative;
  background: #fff;
  font-size: 18px;
}


.article-fix-info{
  background: #fff;
  font-size: 16px;
  opacity:0;
  height:0;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  a{
    font-family: 'Open Sans Condensed'  ;
  }

  &.fixed{
    position: fixed;
    padding-top: 10px;
    top: 52px;
    z-index: 1000;
    opacity: 1;
    height: auto;
    border-top: 1px solid #eee;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);


    @media (max-width: 1006px) {
      top: 85px;
    }

    @media (max-width: 767px) {
      top: 65px;
    }
  }

  .progress-bar-line{
    margin-top: 10px;
  }


  .share-info{
    text-align: right;

    @media (max-width: 767px) {
      text-align: center;
    }

    b{
      padding: 0px 10px;
      display:  inline-block;
      width: auto;
      
      span{
        float: left;
        font-weight: 700;
      }
    }

    ul{
      width: auto;
      float: right;
      padding:  0px;
      margin:  0;

      @media (max-width: 767px) {
        float: none;
        display:  inline-block;
        padding-top: 10px;
      }

      li{
        list-style-type: none;
        width: auto;
        float: left;
        padding:0px 8px;

        a{
          float: left;
          opacity: 0.6;

          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
}

#main-article-sidebar{
  position: relative;
}


.img-caption{
  padding: 20px 20px 0px 20px;
  text-align: right;
}