





.fullwidth{
  width: 100%;
  float: left;
}


.halfwidth{
  width: 50%;
  float: left;
}

br{
  display: block !important;
}

a:focus, button:focus, input:focus, select:focus {
  outline: 0px solid #fff !important;
  text-decoration: none  ;
}

a{
  text-decoration: none;
  transition: all  0.3s ease;
  cursor: pointer;
  color: #CA3036;

  &:visited{
    color: #CA3036;
  }

  &:hover{
    text-decoration: none;
  }
}

.topmenu-wrap{
  a{
    color: #fff;

    &:visited{
      color: #fff;
    }
  }
}



body{
  font-family: 'Melior';

  .container{
    width: 100%;
    max-width: 1300px;
  }
}

h2, h3, h1, h4, h5{
  font-family: 'Melior';
}

p{
  font-family: 'Melior';
  font-weight: 400;
}

input[type="password"] {
  background: #f5f5f5;
  border: none;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}

//header styles

header{
  float: left;
  width: 100%;
  border-bottom: 2px solid #D6DCE0;
  background-color: #FFFFFF;

  .header-top{
    background: #CA3036;

    .subscribbox{
      float: left;
      width: 300px;
      background: url("images/icon-newsletter.png") left center no-repeat;
      padding-left: 30px;
      background-size: 22px;

      a{
        font-size: 13px;
        color: #FFFFFF;
        letter-spacing: 0.47px;
        font-weight: 600;
        line-height: 40px;

        i{
          font-weight:400;

        }
      }
    }


    .topmenu-wrap{
      float: left;
      width: calc(100% - 300px);
      text-align: right;
      font-family: 'Open Sans Condensed';

      ul{
        float: left;
        width: 100%;
        text-align: right;
        height: auto;
        padding: 12px 0 0 0;
        margin: 0;

        li{
          list-style-type: none;
          display: inline-block;
          float: none;

          a{
            float: left;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0.43px;
            text-transform: uppercase;
            font-weight: 600;
            opacity:1;
            font-family: 'Open Sans Condensed';


            &:hover{
              color: #000;
            }
          }

          &.current-menu-item{
            a{
              color: #000;
            }
          }

        }
      }
      .menu-top-menu-container{
        display: inline-block;
        padding-right: 30px;
      }

      .social-iocns{
        float: right;
        padding-top: 10px;

        span{
          display: inline-block;
          color: #fff;
          padding: 0px 10px;
        }

        .loginlink{
          font-size: 13px;
          color: #FFFFFF;
          letter-spacing: 0.43px;
          text-transform: uppercase;
          font-weight: 600;
          opacity: 1;
        }
      }
    }

    @media (max-width: 991px) {
      display: none;
    }



  }




  .main-header{
    padding: 15px 0px;

    @media (max-width: 991px) {
      position: fixed;
      z-index: 100;
      background: #fff;
      top: 0px;
    }

    @media (max-width: 767px) {
      padding: 0px;
      border-bottom: 1px solid #eee;
    }

    .widget-handle{

      .function{
        display: none;
      }

      &.toggle-search{

        .function{
          display: block;
          opacity: 1;
          visibility: visible;
        }
      }
    }




    .nav-bar{
      height: auto;
      max-height: 100%;
    }

    .module{
      height:auto;

      &.site-title-container{
        @media (max-width: 991px) {
          max-width: 300px;
        }

        @media (max-width: 767px) {
          max-width: 180px;
        }

        @media (max-width: 470px) {
          max-width: 140px;
        }

      }
    }

    .module-group{
      height:auto;
    }

    .site-title-container{
      a{
        height: auto;
      }
      .logo{
          height: 80px;
        max-height: 100%;

        @media (max-width: 991px) {
          height: 60px;
        }

      }
    }

    .main-navigation{
      border:0px;

      &.fixed{
        -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
      }
    }


    .right{
      padding-top: 50px;


      .fixed-view{
        display: none;
      }

      .mobile-view{
        display: none;

        .search-mobile{
          float: left;
          width: 100%;
          padding: 10px 0px;
        }

        ul{
          padding:20px 0px;

          @media (max-width: 767px) {
            padding:0 0 10px 0px;
          }

          li{
            float: left;
            width: 100%;
            padding: 10px 0px;

             

            &.menu-item-has-children{
              background: url("images/arrow-head-down.png") top 12px right no-repeat;
              background-size: 12px;
            }

            ul{
              padding:  20px 0 0 20px;
              display: none;

              li{
                padding: 5px 0px;
                a{
                  font-size: 13px;
                }
              }
            }

            a{
              font-size: 15px;
              line-height: 16px;
              height: 16px;
              color: #343434;
              letter-spacing: 0.5px;
              padding: 0;
              margin: 0px;
            }

            &:last-child{
              a{
                border:0px;
                padding: 0px;
              }
            }
          }
        }

        .social-iocns{
          float: left;
          width: 100%;
          text-align: left;

          span{
            display: inline-block;
            color: #fff;
            padding: 0px 10px;
          }
        }
      }

      @media (max-width: 991px) {

        .fixed-view{
          display: none;
        }

        .mobile-view{
          display: block;
        }

        .default-view{
          display: none;
        }
      }


      ul{
        height: auto;
        li{
          a{
            font-weight: 700;
            font-size: 16px;
            color: #343434;
            letter-spacing: 0.5px;
            opacity:1;
            line-height: 34px;
            height: 34px;
            float: left;
            font-family: 'Open Sans Condensed';
          }

          &>a{
            border-bottom:   3px solid #FFF;
          }

          &.current-menu-item{
            &>a{
              border-bottom:   3px solid #D8232A;

              @media (max-width: 991px) {
                border-bottom:   3px solid #FFF;
                color: #D8232A;
              }

            }
          }

          &.current-menu-ancestor{
            &>a{
              border-bottom:   3px solid #D8232A;
            }
          }

          &.dropdown{

            &:after{
              position: absolute;
              top: 0;
              right: 0;
              font-size: 0px;
              content: "\f107";
              font-family: 'fontawesome';
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              background: url("images/red-wrrow-head-down.png") center no-repeat;
              width: 10px;
              height: 35px;
            }

          }


          &.menu-item-19691{
            a{
              border:  1px solid   #D8232A;
              padding: 0px 30px;
              border-radius: 17px;
            }
          }

          ul{
            li{
              text-align: left;
              a{
                font-weight: 700;
                font-size: 14px;
                color: #343434;
                letter-spacing: 0.5px;
                opacity:1;
                line-height: 35px;
                height: 35px;
                float: none;
                padding: 0px 15px;

                &:hover{
                  background: #fff;
                  color: #D8232A;
                }
              }

              &.current_page_item{
                a{
                  background: #fff;
                  color: #D8232A;

                  &:focus{
                    background: #fff;
                  }
                }


              }

            }
          }

          .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
            background: #D8232A;
            color: #fff  ;
          }
        }
      }

      @media (max-width: 991px) {
        padding-top: 10px;

        .fa-bars{
          color: #D8232A;
          opacity:1;
        }
      }
      @media (max-width: 470px) {
        .fa-bars{
          margin-top: -15px;
        }

      }
    }

    .search-widget-handle{
      height: 25px;
      border-left: 1px solid #C4CACE;
      margin-top: 5px;

      @media (max-width: 991px) {
        float: left !important;
        width: 100%;
        height: auto;
      }

      .search{
        height:25px;
        i{
          line-height: 25px;
          float: left;
          opacity: 1;
        }
      }
    }


    .fixed{

      .site-title-container{
        img{
          height: 30px;
        }
      }

      .right{
        padding-top: 10px;


        .default-view{
          display: none;
        }

        .fixed-view{
          display: block;
        } 

      }
      
      
      .menu-fixed-menu-container{
        float: left;
      }

      .loginlink{
        float: right;
        font-weight: 700;
        font-size: 16px;
        color: #343434;
        letter-spacing: 0.5px;
        opacity: 1;
        line-height: 34px;
        height: 34px;
        font-family: 'Open Sans Condensed';
        text-transform: uppercase;
        padding-left: 20px;
      }
      
    }


      .member-block-btn    {
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 1.4px;
        font-weight: 600;
        text-transform: uppercase;
        background: #000000;
        border: 1px solid #000;
        height: 26px;
        line-height: 26px;
        padding: 0px 15px;
        border-radius: 13px;
        display: inline-block;
        font-family: Oswald;
        margin-right: 20px;

        @media (max-width: 767px) {
          padding: 0px 10px;
          font-size: 10px;
        }
      }

  }

  .nav-open {

    .mobile-view{
      float: left;
      width: 100%;

      ul{
        display: block;
      }
    }
  }


  
}

.home{
  header{
    .member-block-btn{
      display: none;

       &.fixed{
         display: inline-block;
       }

    }
  }
}



//footer

footer{
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 10;
  position: relative;




  .footer-widgets{
    background: #CA3036;
    padding: 30px 0px 0px 0px;

    .col-sm-12{
      @media (max-width: 991px) {
        float: left;
        width: 100%;
      }
    }


    .footer-socials{

      .widget_media_image{
        float: left;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        padding-bottom: 10px;
        
        img{
          float: none;
          display: inline-block;
        }
      }


      .widget_custom_html{
        float: left;
        width: 100%;
        text-align: center;
        padding-top: 10px;

        ul{
          float: left;
          width: 100%;

          li{
            display: inline-block;
            list-style-type: none;
            padding: 0;
            margin: 5px 10px;

            a{
              img{
                float: left;
              }
            }
          }
        }

      }
    }


    .footer-menu-wrap{

      
      .widget_nav_menu{
        float: left;
        width: 50% !important;
        padding-bottom: 40px;

        @media (max-width: 380px) {
          width: 100% !important;
        }

        .widget-title{
          margin: 0px 0 15px 0px;
          padding: 0;

          @media (max-width: 991px) {
            text-align: center;
          }
        }

        ul{
          width: 100%;
          float: left;
          height:auto;



          li{
            float: left;
            width: 100%;
            padding: 0px;
            margin: 0px;
            border:0px;

            @media (max-width: 991px) {
              text-align: center;
            }

            a{
              font-size: 15px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 26px;
              font-weight: 400;
              
              &:hover{
                color: #000;
              }
            }
          }
        }
      }

    }


  }


  .footer-info{
    background: #171717;

    @media (max-width: 991px) {
      text-align: center;
    }

    span{
      font-size: 12px;
      color: #F3F3F3;
      letter-spacing: 2.51px;
      text-align: center;
      text-transform: uppercase;
      line-height: 50px;

      a{
        font-weight: 600;
        font-size: 12px;
        color: #F3F3F3;
        letter-spacing: 2.51px;
        text-align: center;
      }
    }

    .footer-right{
      text-align: right;

      @media (max-width: 991px) {
        text-align: center;
      }
    }
  }


  .footer-subscribe{
    @media (max-width: 991px) {
      padding-bottom: 10px;
    }

    .widget_text{
      .widget-title{
        font-weight: 700;
        font-size: 25px;
        color: #FFFFFF;
        letter-spacing: 0.83px;
        padding: 0 0 15px 0px;
        margin: 0px;

        span{
          font-weight:300;
          font-size: 25px;
          color: #FFFFFF;
          letter-spacing: 0.87px;
        }

        @media (max-width: 991px) {
          text-align: center;
        }

      }



     p{
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.47px;
        padding-bottom: 15px;
       font-weight: 400;

       @media (max-width: 991px) {
         text-align: center;
       }
      }



    }

    form{
      float: left;
      width: 100%;
      position: relative;

      fieldset{
        float: left;
        width: 100%;

        input[type="email"]{
          float: left;
          width: calc(100% - 85px);
          background: #FFFFFF;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #B8BBBD;
          letter-spacing: 0.47px;
          padding: 0px 15px;
          margin: 0px;
          border-radius: 5px;
          border-top-right-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
        }


        input[type="submit"] {
          background: #2B2B2B;
          height: 40px;
          width: 85px;
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 0.47px;
          line-height: 19px;
          float: right;
          border-top-right-radius: 5px !important;
          border-bottom-right-radius: 5px !important;
          min-width: 80px;
          padding: 0px;
          margin: 0px;
          border: 1px solid  #2B2B2B;

          &:hover {
            background: #fff;
            color: #333;
          }
        }
      }


    }



  }

  .back-to-top{
    width: 50px;
    height: 50px;
    background: url('images/scroll-to-top.png') center no-repeat transparent;
    font-size: 0px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 300;
    display: none;

    i{
      display:  none;
    }

    &:hover{
      background: url('images/scroll-to-top.png') center no-repeat transparent;
      }
  }
}

form{
  input{
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);

    &[type="submit"]{
      background: #2B2B2B;
      height: 40px;
      width: 120px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.47px;
      line-height: 19px;
      border: 0px;
      padding: 0px;
      border: 1px solid #2B2B2B;

      &:hover{
        background-color: #fff;
        color: #2B2B2B;
      }
    }
  }
}


.main-container {

  @media (max-width: 991px) {
    margin-top: 80px;
    float: left;
    width: 100%;
  }


}


.es_subscription_message{

  float: left;
  width: 100%;
  border-radius: 3px;

  &.success{
    color: #000;
    background: #fff;
    padding: 10px;
    border: 1px solid #D8232A;
    font-size: 12px;
    font-family: 'Open Sans Condensed';
  }

  &.error{
    color: #D8232A;
    background: #fff;
    padding: 10px;
    border: 1px solid #D8232A;
    font-size: 12px;
    font-family: 'Open Sans Condensed';
  }

}



.section-heading{

  h2{
    font-weight: 700;
    font-size: 24px;
    color: #343434;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-bottom: 4px solid rgba( 0,  0,  0, 0.2);
    float: left;
    width: 100%;
    padding: 0px;

    span{
      border-bottom: 4px solid #D8232A;
      padding-bottom: 20px;
      float: left;
      margin-bottom: -4px;
    }
  }





}


//membership block

.memebershipblock{
  background: #FCD237;
  padding:  50px 0px;
  position: relative;
  z-index: 6;

  .membership-img{
    text-align: center;
    
    img{
      display: inline-block;
      max-width: 100%;
    }
  }

  .membership-txt{


    .member-txt-info{
      float: left;
      width: 100%;

      @media (max-width: 991px) {
        text-align: center;
        padding-bottom: 30px;
      }


      h4{
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        letter-spacing: 1.07px;
        line-height: 38px;
        padding: 0 0 20px 0px;
      }
      
      p{
        font-size: 24px;
        color: #000000;
        letter-spacing: 0.8px;
        line-height: 30px;
        max-width: 350px;
        padding-bottom: 30px;

        @media (max-width: 991px) {
          max-width: 100%;
        }
      }

      a{
        background: #D8232A;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        font-weight: 700;
        border: 1px solid #D8232A;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0.5px;
        display:  inline-block;
        padding: 0px 40px;
        font-family: 'Open Sans Condensed';

        &:hover{
          color: #D8232A;
          background: #fff;
        }
      }


    }

  }

}


.inner_page{


  p{
    font-size: 17px;
    color: #424242;
    letter-spacing: 0.57px;
    line-height: 35px;
  }




  ul{
    padding:15px 0px 15px 20px;
    margin: 0px;
    float: left;
    width: 100%;

    li{
      list-style-image: url('images/list-iocn.png');
      float: left;
      width: 100%;
      font-size: 17px;
      color: #424242;
      letter-spacing: 0.57px;
      line-height: 35px;
      padding-bottom: 5px;
      padding-left: 10px;
    }
  }

}


.pagination {
  span{
    background: #D8232A;
    border: 1px solid #D8232A;
  }

  a{
    &:hover{
      background: #fff;
      color: #D8232A;
      border-color: #D8232A;
    }
  }
}



.newsletterbox-widget{
  background: #F8F8F8;
  border: 7px solid #1F1F1F;
  max-width: 390px;

  img{
    float: left;
    width: 100%;
  }

  @media (max-width: 991px) {
    position:  relative;
    max-width: 100%;
  }





  .newsltter-inner{
    float: left;
    width: 100%;
    padding: 20px;

    .newsleter-logo{
      float: left;
      width: 100%;
      text-align: center;

      img{
        max-width: 140px;
        width: auto;
        height: auto;
      }

      h3{
        float: left;
        width: 100%;
        font-weight: 700;
        font-size: 25px;
        color: #000000;
        letter-spacing: 0.83px;
        padding: 10px  0 0 0 ;
        margin: 0;
      }

    }

    .newsleter-txt{
      float: left;
      width: 100%;
      text-align: center;
      padding: 15px 0px;

      p{
        font-size: 16px;
        color: #000000;
        letter-spacing: 0.53px;
        text-align: center;
        line-height: 35px;
        max-width: 250px;
        float: none;
        display: inline-block;
      }
    }


    .newsleter-form{
      float: left;
      width: 100%;

      fieldset{
        float: left;
        width: 100%;
        padding-top: 30px;
        text-align: center;


        input[type="email"]{
          font-size: 15px;
          color: #686868;
          letter-spacing: 0.5px;
          line-height: 30px;
          background-color: transparent;
          border:0px;
          padding: 0 0 5px 0px;
          margin: 0 0 30px 0px;
          text-align: left;
          float: left;
          width: 100%;
          border-bottom:   1px solid #979797;

        }

        input[type="submit"]{
          width: 100%;
          max-width: 200px;
          border-radius: 20px !important;
          float: none;
          display: inline-block;
          background: #000000;
          border: 1px solid #000000;
          color: #fff;

          &:hover{
            color: #000000;
            background: #fff;
          }
        }


      }


    }



  }
}


.newsleter-side-widget{
  margin-bottom: 20px;


}






//footer subscribe popup

.subscribe-box{
  background-size: contain;

  .subscribe-wrap-white{
    float: left;
    width: 100%;
    background: #fff;
    padding: 30px;
  }

  .subscribe-wrap{
    float: left;
    width: 100%;
    border: 7px solid #1F1F1F;
    padding: 20px 0px;
    background: #fff;

    @media (max-width: 991px) {
      padding-top: 0px;
    }


    .subscribe-inner{
      background: #fff;
      width: 100%;
      float: left;



      .newsleter-logo{
        float: left;
        width: 500px;
        background: url("images/newsletter-separator.png") right center no-repeat;
        padding-right: 100px;
        padding-left: 40px;
        padding-top: 30px;
        padding-bottom: 50px;

        @media (max-width: 991px) {
          width: 100%;
          background: none;
          text-align: center;
          padding: 0px 0 20px 0px;
        }

        img{
          float: left;
          width: 100%;
        }

        h3{
          font-weight: 700;
          font-size: 25px;
          color: #000000;
          letter-spacing: 0.83px;
        }

      }


      .newsleter-info{
        float: left;
        width: calc(100% - 500px);
        padding: 0px 60px;

        @media (max-width: 991px) {
          width: 100%;
          text-align: center;
        }

        .newsleter-info-txt{
          float: left;
          width: 100%;

          p{
            font-size: 18px;
            color: #000000;
            letter-spacing: 0.6px;
            line-height: 30px;
            max-width: 600px;
          }
        }

        .newsleter-info-form{
          float: left;
          width: 100%;
          padding-top: 15px;
          border-bottom: 1px solid #979797;
          padding-bottom: 15px;

          @media (max-width: 767px) {
            padding-bottom: 0px;
            border-bottom: 0px solid #979797;
          }


          form{
            float: left;
            width: 100%;
            position: relative;
          }

          fieldset{
            float: left;
            width: 100%;
            text-align: center;

            input[type="email"]{
              float: left;
              width: calc(100% - 200px);
              background: #fff;
              height: 40px;
              line-height: 40px;
              padding: 0px ;
              margin: 0px;
              border-radius: 5px ;
              font-size: 18px;
              color: #686868;
              letter-spacing: 0.6px;
              text-align: left;

              @media (max-width: 767px) {
                width: 100%;
                border-bottom: 1px solid #979797;
              }
            }


            input[type="submit"] {
              background: #2B2B2B;
              height: 40px;
              line-height: 40px;
              width: 120px;
              text-align: center;
              font-weight: 600;
              text-transform: uppercase;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0.47px;
              float: right;
              border-radius: 20px !important;
              padding: 0px;
              margin: 0px;

              @media (max-width: 767px) {
                float: none;
                display: inline-block;
                margin-top: 20px;
              }

              &:hover {
                background: #333;
              }
            }
          }






        }
      }
    }

  }
}


.upme-wrap{
  font-family:  'Lato', sans-serif;


  .error-msg{
    float: left;
    width: 100%;
    padding-top: 5px;
    margin: 0px;
    font-size: 12px;
    color: #dd3d36;
  }


  input[type="text"],  input[type="email"],  input[type="password"], select {
    border: 1px solid #AAA;
    border-radius: 0;
    background: #fff;
    font-family:  'Lato', sans-serif;
    height: 40px;
    line-height: 40px;
    padding: 0px 5px;
    font-size: 14px;
    margin: 15px 0 10px 0px;

  }

  select{
    float: left;
    width: 100%;
    border: 1px solid #AAA;
    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: url('images/arrow-head-down.png') center right 10px no-repeat;
    background-size: 10px;

  }

  label{
    font-size: 16px;
    line-height: 30px;

    span{
      line-height: 30px;
    }
  }

  input[type="submit"]{

    &.upme-button{
      background-color: #CA3036;
      background-image: none;
      height: 30px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.47px;
      line-height: 30px;
      border: 0px;
      padding: 0px 30px;
      border: 1px solid #CA3036;
      float: right;
      font-style: normal;
      width: auto;

      &:hover{
        color: #CA3036;
        background: #fff;
      }
    }

  }

  input[type="button"]{
    &.upme-button{
      background-color: #CA3036;
      background-image: none;
      height: 30px;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.47px;
      line-height: 30px;
      border: 0px;
      padding: 0px 30px;
      border: 1px solid #CA3036;
      float: right;
      font-style: normal;
      width: auto;
    }
  }


}


.login-wrapper{
  float: left;
  width: 100%;
  text-align: center;

  .upme-login{
    float: none;
    display: inline-block;
    max-width: 800px;
    text-align: left;
  }
}


.subscribwrap{
  display: none;
}



.mob-desk-banner {
  position:  relative;
  z-index: 10;

  &.mob-desk-banner-white{
    background: #fff;
  }

  &.mob-desk-banner-gray{
    background: #E3E3E3;
  }

  &.mob-desk-banner-yellow{
    background: #F7D437;
  }

  &.hide-mobile{
    @media (max-width: 991px) {
      display: none;
    }
  }

  &.show-mobile{
    display: none;

    @media (max-width: 991px) {
      display: block;
    }

  }

  .banner-item{
    text-align: center;

    img{
      float: none;
      width: auto;
      max-width: 100%;
      display: inline-block;
    }

    &.banner-desktop{
      display: block;
      text-align: center;
      @media (max-width: 767px) {
        display: none;
      }

      &.banner-bc-member{
        border: solid 5px #d8d8d8;
        padding: 20px;

        img{
          float: none;
          display: inline-block;
          max-width: 575px;
        }
      }
    }

    &.banner-mobile{
      display: none;
      @media (max-width: 767px) {
        display: block;
      }
    }
  }

  .btn-wraper{
    text-align: center;
  }

  .btn-archive{
    float: right;
    background: #000000;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.4px;
    height: 30px;
    line-height: 30px;
    padding: 0px 30px;
    border-radius: 15px;
    border: 1px solid #000000;
    margin: -5% 34% 0 0px;


    &:hover{
      color: #000;
      background: #fff;
    }
  }

  .btn-member{
    float: none;
    background: #000000;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.4px;
    height: 30px;
    line-height: 30px;
    padding: 0px 30px;
    border-radius: 20px;
    border: 1px solid #000000;
    margin-top: -6%;
    margin-right: calc(42% - 125px);
    float: right;
    display:  inline-block;

    @media (max-width: 991px) {
      margin-top: -6%;
      margin-right: calc(32% - 125px);
    }
    @media (max-width: 767px) {
      margin-top: -6%;
      margin-right: 0;
      float: none;
    }

    &:hover{
      color: #000;
      background: #fff;
    }
  }

  .btn-mediafile{
    float: right;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    border: 1px solid #D8232A;
    background: #D8232A;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding: 0px 20px;
    font-family: 'Open Sans Condensed';

    margin: -40px 0 0 0;


    &:hover{
      color: #D8232A;
      background: #fff;
    }
  }


  .join-btn{
    background: #D8232A;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-weight: 700;
    border: 1px solid #D8232A;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 0px 40px;
    font-family: 'Open Sans Condensed';
    margin: -6% 0 0 0px;
    float: left;

    &:hover{
      color: #D8232A;
      background: #fff;
    }
  }




  .btn-wraper{
    @media (max-width: 767px) {
      text-align: center;
      margin-top: -15%;



      a{
        display: inline-block;
        float: none;
        margin: 0px;
      }
    }

    &.archiv-wrapper{
      @media (max-width: 767px) {
        margin-top: -50%;
      }
    }

    &.btn-wrap-mediafile{
      @media (max-width: 767px) {
        margin-top: -5%;
      }
    }

  }
}

.t-edit-btn{
  display: flex !important;
  justify-content: center;
}
.abs {
  position: absolute !important;
  bottom: 0;
}
.black-link{
  display: flex;
  justify-content: flex-end;
}
