
.blacklist-page{

  .page-banner{
    background-position: center;
    background-size: cover;

    .banner-info{
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;

      h1{
        font-weight: 700;
        font-style: italic;
        font-size: 56px;
        color: #FFFFFF;
        letter-spacing: 1.87px;
        text-align: center;
        line-height: 53px;
      }

      h2{
        font-weight: 700;
        font-size: 26px;
        color: #FFFFFF;
        letter-spacing: 1.87px;
        text-align: center;
        line-height: 35px;
      }
    }
  }



  .page-content{
    padding: 50px;

    .content-box{
      padding-bottom: 50px;

      p{
        font-size: 21px;
        color: #191919;
        letter-spacing: 0.7px;
        line-height: 40px;
        
        a{
          color: #2572FF;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }



  .blacklist-data{
    padding-bottom: 100px;


      .blacklistinfo{
        background: #EDF0F1;


        .blacklist-table-head{
          float: left;
          width: 100%;
          border: 1px solid #979797;

          .table-left{
            padding:30px;
            float: left;
            width: 50%;
            font-weight: 700;
            font-size: 20px;
            color: #000000;
            line-height: 23px;
            border-left: 1px solid #979797;
          }

          .table-right{
            padding:30px;
            float: left;
            width: 50%;
            font-weight: 700;
            font-size: 20px;
            color: #000000;
            line-height: 23px;
          }
        }
      }


    .blacklist-item{

      .blacklist-head{
        float: left;
        width: 100%;
        border-bottom: 1px solid #BCBCBC;
        background: #181818;

        .button-box{
          float: right;
          width: 40px;
          height: 40px;
          margin-right: 30px;
          margin-top: 30px;

          @media (max-width: 767px) {
            width: 100%;
          }



          .blacklistbtn{
            background: url("images/blacklist-arrow-down.png") center no-repeat;
            float: right;
            width: 40px;
            height: 40px;

            &.blacklistopen{
              background: url("images/blacklist-arrow-up.png") center no-repeat;
            }
          }



        }

        .title-line{
          float: left;
          width: 50%;
          padding: 30px;
          font-family: Lato-Regular;
          font-size: 18px;
          color: #FFFFFF;
          letter-spacing: 0.6px;
          line-height: 34px;
          border-right:   1px solid #BCBCBC;

          @media (max-width: 767px) {
            width: 100%;
            border-bottom:   1px solid #BCBCBC;
            border-right: 0;
          }
        }

        .sub-line{
          float: left;
          width: calc(50% - 70px);
          padding: 30px;

          font-weight:700;
          font-size: 18px;
          color: #FFFFFF;
          letter-spacing: 0.6px;
          line-height: 34px;

          @media (max-width: 767px) {
            width: 100%;
          }

          .location{
            float: left;
            width: 50%;

            @media (max-width: 480px) {
              width: 100%;
            }
          }

          .date{
            float: left;
            width: 50%;

            @media (max-width: 480px) {
              width: 100%;
            }
          }
        }
      }


      .blacklist-txt{
        float: left;
        padding:  30px;
        width: 100%;
        display: none;

        font-size: 18px;
        color: #191919;
        letter-spacing: 0.6px;
        line-height: 34px;

        p{
          font-size: 18px;
          color: #191919;

          a{
            color: #2572FF;

            &:hover{
              text-decoration: underline;
            }
          }
        }

        .subheading{
          font-weight: 700;
          font-size: 20px;
          color: #000000;
          line-height: 19px;
        }
      }
    }


  }



}