
.careers-page{

  padding-top: 50px;

  .container{
    max-width: 930px;

  }


  .section-heading{


    span{
      font-weight: 700;
      font-size: 28px;
      color: #0A0A0A;
      letter-spacing: 0.93px;
    }
  }


  .requremntblock{

    .require_heading{
      h3{
        font-size: 21px;
        color: #AB3C3C;
        letter-spacing: 0.7px;
      }
    }


  }

  .careerblock{
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ededed;

    .career-title{
      h2{
        font-weight: 700;
        font-size: 26px;
        color: #0A0A0A;
        letter-spacing: 0.87px;
        padding-bottom: 20px;
      }
    }
  }


  .sharebox{
    padding-top: 30px;
    padding-bottom: 30px;

    span{
      font-size: 17px;
      color: #505050;
      line-height: 30px;
      display:  inline-block;
      padding-right: 10px;
    }

    a{
      margin:0px 15px;
      display: inline-block;
    }
  }


}