.fictions-wrap{

  .taglist{
    display: none;
  }


  .bliss_loadmore{
    margin: 40px 0px;
  }


  .magazine-content{
    padding-top: 50px;

    .news-item{
      float: left;
      width: 100%;
      padding-bottom: 35px;
      margin-top: 35px;
      border-bottom: 1px solid #BCBCBC;

      .news-img{
        float: right;
        width : 310px;
        padding-left: 30px;

        @media (max-width: 767px) {
          width: 220px;
        }
        @media (max-width: 480px) {
          width: 110px;
          padding-left: 20px;
        }

        img{
          float: left;
          width: 100%;
        }
      }

      .news-txt{
        float: left;
        width: calc(100% - 310px);

        @media (max-width: 767px) {
          width: calc(100% - 220px);
          float: left;
        }
        @media (max-width: 480px) {
          width: calc(100% - 110px);
        }

        &.fullwidth{
          width: 100%;
        }

        h3{
          padding-top: 0px;
          margin-top: 0px;
          font-family: 'Melior';
          a{
            font-weight: 900;
            font-size: 24px;
            color: #0A0A0A;
            letter-spacing: 0.8px;
            line-height: 28px;
            text-transform: uppercase;
            font-family: 'Melior';

            &:hover{
              color: #D8232A;
            }
          }
        }

        p{
          font-size: 16px;
          color: #191919;
          letter-spacing: 0.53px;
          line-height: 26px;
        }

        h4{
          padding: 0px;
          margin: 0px;
          font-weight: 600 ;
          font-size: 14px;
          color: #6C6C6C;
          letter-spacing: 1.27px;
          text-transform: uppercase;
          font-family: 'Open Sans Condensed';

          a{
            font-size: 14px;
            color: #6C6C6C;
            font-family: 'Open Sans Condensed';

            &:hover{
              color: #D8232A;
            }
          }
        }
      }
    }


  }


  .fiction_description{

    .fiction-banner{
      img{
        float: left;
        width: 100%;
      }

    }


    .fiction-txt{
      padding-top: 10vh;
      padding-bottom: 10vh;

      h2{
        font-weight: 900;
        font-size: 69px;
        color: #0A0A0A;
        letter-spacing: 2.3px;
        text-align: center;
        font-family: 'Melior';
      }
    }


    .fiction-intro{
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;

      p{
        font-size: 18px;
        color: #191919;
        letter-spacing: 0.6px;
        line-height: 35px;
        max-width: 750px;
        float: none;
        display: inline-block;

        &:first-letter {
          font-size: 400%;
        }
      }




    }


  }



  .articles-wraps{


    .articles-featured{
      margin-top: 60px;
      margin-bottom: 60px;

      .article-img{
        img{
          float: left;
          width: 100%;
        }

        @media (max-width: 767px) {
          height: auto !important;
          width: 100%;
          margin-bottom: 30px;
        }

      }


      .article-txt{
        h3{
          padding-top: 0px;
          margin-top: 0px;
          a{
            font-weight: 900;
            font-size: 24px;
            color: #0A0A0A;
            letter-spacing: 0.8px;
            line-height: 28px;
            text-transform: uppercase;
            font-family: 'Melior';

            &:hover{
              color: #D8232A;
            }
          }
        }

        p{
          font-size: 16px;
          color: #191919;
          letter-spacing: 0.53px;
          line-height: 26px;
        }

        h4{
          padding: 10px 0px;
          margin: 0px;
          font-weight: 600 ;
          font-size: 14px;
          color: #6C6C6C;
          letter-spacing: 1.27px;
          text-transform: uppercase;
          font-family: 'Open Sans Condensed';

          a{
            color: #6C6C6C;
            font-family: 'Open Sans Condensed';

            &:hover{
              color: #D8232A;
            }
          }
        }


        @media (max-width: 767px) {
          float: left;
          width: 100%;
          padding-bottom: 35px;
          border-bottom: 1px solid #BCBCBC;
        }


     }


      &.even{
        .article-img{
          float: left;
        }

      }

      &.odd{
        .article-img{
          float: right;
        }

      }
      
    }

  }





}