
.home-page{

  p{
  }

  h1 a, h2 a, h3 a , h4 a{
    font-family: 'Melior';
  }


  .home-slider{
    padding-top: 30px;

    .container{


      .home-slider-wrap{

        @media (max-width: 991px) {
          width: 100%;
          height: 40vh !important; ;
        }

      }
    }

    .slick-dots{
      top:0;
      position: relative;
    }


    .slick-slide{
      padding: 0px 5px;
    }


    .slider-images{
      float: right;
      width: 100%;
      height: 100%;




      .slider-item{
        height: 100%;
        background-position: center;
        background-size: cover;

        a{
          height:100%;
          width: 100%;
          display: block;
        }

        @media (max-width: 991px) {
          height: 40vh !important; ;
        }
      }
    }


    .slider-description-inner{
      float: right;
      width: 100%;

      @media (max-width: 991px) {
        width: 100%;
        max-width: 100%;
      }
    }
    .slider-description{
      padding: 50px  0px;
      width: 100%;
      float: left;

      @media (max-width: 991px) {
        padding:   30px 0px;
      }



      .slider-item{
        background: #fff;

        h3{
          padding: 0;
          margin: 0;

          a{
            font-size: 40px;
            color: #0A0A0A;
            letter-spacing: 1.33px;
            font-weight: 900;
            text-transform: uppercase;
            font-family: 'Melior';

            @media (max-width: 991px) {
              font-size: 25px;
            }

            
            &:hover{
              color: #D8232A;
            }
          }

        }

        p{
          font-size: 24px;
          color: #191919;
          letter-spacing: 0.8px;
          line-height: 40px;
          padding: 0px;
          margin:  30px 0px;
          font-family: 'Lato', sans-serif;

          @media (max-width: 991px) {
            font-size: 18px;
            line-height: 25px;
            margin:  15px 0px;
          }
        }

        h4{
          font-size: 18px;
          color: #6C6C6C;
          letter-spacing: 1.45px;
          line-height: 25px;
          font-weight: 600;
          font-family: 'Open Sans Condensed';

          a{
            color: #6C6C6C;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed';


            &:hover{
              color: #D8232A;
            }
          }
        }
      }
    }

  }




.feature-articles{
  padding : 30px 0px  50px 0px;




  .all-aticle-link{
    padding-top: 30px;
    text-align: center;

    a{
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.47px;
        border: 1px solid #D8232A;
        background: #D8232A;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 150px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
      font-family: 'Open Sans Condensed';

      &:hover{
        color:  #D8232A;
        background: #FFFFFF;
      }
    }

  }


  .last-item{

    .artilce-wrap{
      border: 0px solid #E1E8ED;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .artilce-wrap{

    @media (max-width: 991px) {
      padding-bottom: 30px;
    }

    @media (max-width: 767px) {
      border-bottom: 1px solid #E1E8ED;
      margin-bottom: 30px;

    }

    .article-img{
      float: left;
      width: 100%;
      background-size: cover;
      background-position: center;
      height: 40vh;
      max-height: 235px;


      @media (max-width: 767px) {
        width: 150px;
        height: 150px;
        float: right
      }

      @media (max-width: 568px) {
        width: 80px;
        height: 80px;
      }

    }

    .article-txt{
      border: 1px solid #E1E8ED;
      float: left;
      width: 100%;
      border-top:0px;
      padding: 25px;

      @media (max-width: 767px) {
        width: calc(100% - 150px);
        padding: 0 20px 0 0 ;
        border: 0;
      }

      @media (max-width: 568px) {
        width: calc(100% - 80px);
      }

      p{
        font-family: 'Lato', sans-serif;
        font-size: 16px;
      }

      .taglist{
        float: left;
        width: 100%;

        ul{
          padding: 0;
          margin: 0px;
          width: 100%;
          float: left;

          li{
            display: inline-block;
            padding:  0 5px 0 0;
            margin: 0 5px 5px 0px;
            border-right: 1px solid #C9C9C9;
            list-style-type: none;

            &:last-child{
              border:0px;
              padding-right:0px;
              margin-right: 0px;
            }



            a{
              font-size: 14px;
              color: #D8232A;
              letter-spacing: 0.43px;
              line-height: 14px;
              float: left;
              text-transform: uppercase;

              &:hover{
                text-decoration: underline;
              }
            }
          }
        }

      }

      .titlebox{
        float: left;
        width: 100%;
        padding: 5px 0px 15px 0px;

        @media (max-width: 767px) {
          padding: 0px;
        }


        a{
          font-size: 18px;
          color: #0A0A0A;
          letter-spacing: 0.57px;
          line-height: 24px;
          float: left;
          width: 100%;
          font-weight: 900;
          text-transform: uppercase;
          font-family: 'Melior';

          &:hover{
            color: #D8232A;
          }
        }

        span{
          font-size: 16px;
          color: #6C6C6C;
          line-height: 24px;
          padding-top: 10px;
          letter-spacing: 1.09px;
          display:  inline-block;
          font-family: 'Open Sans Condensed';

          a{
            color: #6C6C6C;
            font-size: 16px;
            width: auto;
            padding-right: 5px;
            font-family: 'Open Sans Condensed';
          }

          @media (max-width: 767px) {
            padding-top: 15px;
            float: left;
            width: 100%;
          }
        }
      }

      .descriptions{
        float: left;
        width: 100%;
        font-size: 15px;
        color: #191919;
        letter-spacing: 0.47px;
        line-height: 26px;
        font-weight: 400;
        p{
        }

      }
    }
  }


}
  



  .blacklist{
    background: url("images/blacklist-banner.png") top center no-repeat;
    background-size: cover;
    padding: 40px 0px;

    @media (max-width: 767px) {
      padding: 20px 0px;

    }

    .blk-text{
      text-align: right;

      @media (max-width: 767px) {
        text-align: center;
      }

      img{
        display: inline-block;
      }

      h2{
        font-weight: 700;
        font-size: 56px;
        color: #FFFFFF;
        letter-spacing: 1.87px;
        float: right;
        width: auto;
        padding: 0px 15px;
        margin: 0;
        line-height: 80px;

        @media (max-width: 767px) {
          text-align: center;
          width: 100%;
          padding : 10px 0px;
          font-size: 30px;
          line-height: 40px;
        }
      }
    }


    .blk-link{

      @media (max-width: 767px) {
        text-align: center;
      }

      h4{
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 1.03px;
      }

      a{
        background: #FCD237;
        font-weight: 600;
        font-size: 12px;
        color: #252525;
        letter-spacing: 0.4px;
        text-align: center;
        line-height: 28px;
        border-radius: 5px;
        padding: 0px 20px;
        float: left;
        text-transform: uppercase;
        transform: translateY(15px);

        &:hover{
          color: #D8232A;
        }

        @media (max-width: 767px) {
          float: none;
          display: inline-block;
        }

        &:hover{
          background: #D8232A;
        }

        &:hover{
          background: #D8232A;
          color: #fff;
        }
      }
    }

  }


  .featured-block {
    padding-top: 60px;
    padding-bottom: 60px;


    .height-child{
      @media (max-width: 991px) {
        height: auto !important;
        margin-top: 40px;
        float: left;
        width: 100%;
      }
    }

    .podcast-block {
      float: left;
      width: 100%;

      .podcast-img{
        float: right;
        width: 145px;
        padding-left: 15px;

        @media (max-width: 480px) {
          width: 115px;
        }

        img{
          float: left;
          width: 100%;
        }



      }

      .podcast-title {
        background: url('images/podcast-bg.png') bottom center repeat-x #CB282F;
        padding: 5px 30px ;
        float: left;
        width: 100%;


        h3 {
          font-size: 24px;
          color: #FFFFFF;
          letter-spacing: 0.8px;
          background: url("images/podcast-icon.png") center right no-repeat;
          padding:  10px  0px 0px  0px;
          height: 60px;
          line-height: 60px;
          font-weight: 800;
          font-family: 'Open Sans Condensed';

          @media (max-width: 991px) {
            padding: 0px;
            margin: 0px;
            height: 40px;
            line-height: 50px;
          }

          span{
            font-weight: 900;
          }

          a{
            float: right;
            font-weight:  700;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            letter-spacing: 0.47px;
            line-height: 25px;
            padding-right: 15px;
            background: url("images/arrow-right-white.png") right top 5px no-repeat;
            margin-top: 20px;



            &:hover{
              padding-right: 10px;
            }
          }
        }
      }

      .posdcast-post-list{
        float: left;
        width: 100%;
        border: 1px solid #E1E8ED;
        padding:0px  15px;


        .podcast-item{
          float: left;
          width: 100%;
          border-bottom: 1px solid #E1E8ED;
           padding-top: 20px;
          padding-bottom: 20px;



          .podcast-txt{
            float: left;
            width: calc(100% - 145px);

            @media (max-width: 480px) {
              width: calc(100% - 115px);
            }

          }

          span{
            font-size: 16px;
            color: #6C6C6C;
            font-family: 'Open Sans Condensed';

            a{
              font-size: 16px;
              color: #6C6C6C;
              text-transform: uppercase;
              font-family: 'Open Sans Condensed';
            }
          }

          iframe{
            height:1px;
            overflow: hidden;
            opacity: 0;
          }

          .playSound{
            background: url("images/icon-play.png") center no-repeat;
            width: 70px;
            background-size: 100%;
            height: 23px;
            cursor: pointer;
          }

          .stopSound{
            background: url("images/icon-stop.png") center no-repeat;
            width: 70px;
            background-size: 100%;
            height: 23px;
            display:  none;
            cursor: pointer;
          }

          &:last-child{
            border: 0px;
          }

          h3{
            padding: 0 0 15px 0px;
            margin: 0;

            a{
              font-weight:700;
              font-size: 16px;
              color: #0A0A0A;
              letter-spacing: 0.53px;
              line-height: 20px;
              text-transform: uppercase;

              &:hover{
                color: #D8232A;
              }
            }
          }

          p{
            font-size: 15px;
            color: #191919;
            letter-spacing: 0.47px;
            line-height: 26px;
          }
        }
      }
    }


    .photographblock{
      border: 3px solid #E1E8ED;
      height: 100%;
      background: #e8e8e8;


      @media (max-width: 767px) {
        padding: 20px;
      }

       .photograph-img{
         width: 50%;
         height: 100%;
         background-size: cover;
         background-position: center;

         @media (max-width: 991px) {
           min-height: 40vh;
         }

         @media (max-width: 767px) {
           width: 150px;
           height: 150px;
           float:  right;
           min-height: auto;
         }

         @media (max-width: 567px) {
           width: 80px;
           height: 80px;
         }
       }

      .photograph-intro{
        height: 100%;
        padding: 30px;
        width: 50%;
        float: left;

        @media (max-width: 767px) {
          width: calc(100% - 150px);
          padding: 0 20px 0px 0px;

          p{
            display: none;
          }
        }

        @media (max-width: 567px) {
          width: calc(100% - 80px);
        }

        .taglist{
          float: left;
          width: 100%;


          ul{
            padding: 0;
            margin: 0px;
            width: 100%;
            float: left;

            li{
              display: inline-block;
              padding:  0 5px 0 0;
              margin: 0 5px 5px 0px;
              border-right: 1px solid #C9C9C9;
              list-style-type: none;

              &:last-child{
                border:0px;
                padding-right:0px;
                margin-right: 0px;
              }



              a{
                font-size: 16px;
                color: #D8232A;
                letter-spacing: 0.43px;
                line-height: 14px;
                float: left;
                text-transform: uppercase;
                font-family: 'Open Sans Condensed';

                &:hover{
                  text-decoration: underline;
                }
              }
            }
          }
        }


        .titlebox{
          float: left;
          width: 100%;

          h3{
            float: left;
            width: 100%;
            a{
              font-weight: 700;
              font-size: 36px;
              color: #0A0A0A;
              letter-spacing: 1.2px;
              text-transform: uppercase;

              @media (max-width: 991px) {
                font-size: 25px;
              }

              @media (max-width: 767px) {
                font-size: 18px;
              }


              &:hover{
                color: #D8232A;
              }
            }
          }

          p{
            font-size: 23px;
            color: #191919;
            letter-spacing: 0.77px;
            line-height: 40px;
            font-family:  'Lato', sans-serif;


            @media (max-width: 991px) {
              font-size: 18px;
              line-height: 25px;
            }
          }

          span{
            float: left;
            width: 100%;
            font-size: 16px;
            color: #6C6C6C;
            letter-spacing: 1.27px;
            line-height: 25px;
            font-family: 'Open Sans Condensed';

            a{
              color: #6C6C6C;
              text-transform: uppercase;
              font-family: 'Open Sans Condensed';
            }
          }
        }

      }

    }
  }



  .archiveblock{
    background: #2B2B2B;
    padding: 50px 0px;

    .archive-heading{
      h2{
        font-weight: 700;
        font-size: 24px;
        color: #FFFFFF;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        border-bottom: 4px solid rgba(225, 232, 237, 0.1);
        float: left;
        width: 100%;
        padding: 0px;

        span{
          border-bottom: 4px solid #D8232A;
          padding-bottom: 20px;
          float: left;
          margin-bottom: -4px;
          font-weight: 900;
          font-family: 'Open Sans Condensed';
          padding-left: 50px;
          background: url("images/icon-books.png") top left no-repeat;
          background-size: 30px;
        }


        a{
          float: right;
          font-weight:  700;
          text-transform: uppercase;
          font-size: 14px;
          color: #fff;
          letter-spacing: 0.47px;
          line-height: 25px;
          padding-right: 15px;
          background: url("images/arrow-right-white.png") right center no-repeat;
          font-family: 'Open Sans Condensed';

          @media (max-width: 991px) {
            position: absolute;
            top: 80px;
            width: 100%;
            text-align: center;
            background: none;
            left: 0;
          }


          &:hover{
            padding-right: 10px;
          }
        }
      }
    }

    .archive-details{
      padding-top: 50px;

      .taglist{
        a{
          color:   #D8232A;
          font-family: 'Open Sans Condensed';

          &:hover{
            color: #fff;
            text-decoration: none;
          }


        }
      }

      .col-md-3{
        margin-bottom: 20px;

        .archive-item{
          float: left;
          width: 100%;
          border: 1px solid rgba(225, 232,237, 0.4);

          @media (max-width: 767px) {
            height: auto !important;
          }

          .archive-img{
            background-size: cover;
            height: 40vh;
            max-height: 235px;
            width: 100%;
            float: left;
          }

          .archive-txt{
            float: left;
            width: 100%;
            padding: 30px 25px;

            h3{
              margin: 0px;

              a{
                font-weight: 700;
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 0.67px;
                line-height: 28px;
                text-transform: uppercase;

                &:hover{
                  color: #D8232A;
                }
              }
            }

            p{
              font-size: 15px;
              color: #ededed;
              letter-spacing: 0.47px;
              line-height: 20px;
              font-family:  'Lato', sans-serif;
            }

            span{
              font-weight: 400;
              text-transform: uppercase;
              font-size: 12px;
              color: #FFFFFF;
              letter-spacing: 1.09px;
              padding: 5px 0px;
              float: left;
              width: 100%;

              a{
                color: #6C6C6C;
              }
            }


            strong{
              display: block;
              font-weight: 400;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 1.27px;
              text-transform: uppercase;
              padding-top: 20px;
              font-family: 'Open Sans Condensed';

              a{
                font-size: 14px;
                color: #FFFFFF;
                font-family: 'Open Sans Condensed';

                &:hover{
                  color: #D8232A;
                }
              }
            }

          }
        }

        &:first-child{
          width: 50%;

          @media (max-width: 991px) {
            width: 100%;
          }

          .archive-item{


            .archive-img{
              width: 50%;
              height: 100%;
              max-height: 100%;

              @media (max-width: 767px) {
                width: 100%;
                height: 40vh;
              }
            }

            .archive-txt{
              width: 50%;

              @media (max-width: 767px) {
                width: 100%;
              }

              h3{
                a{
                  font-size: 30px;
                  line-height: 34px;
                  text-transform: uppercase;

                  @media (max-width: 991px) {
                    font-size: 25px;
                  }
                }
              }

              p{
                font-size: 20px;
                line-height: 26px;
                padding-top: 20px;
                font-family:  'Lato', sans-serif;

                @media (max-width: 991px) {
                  font-size: 18px;
                }
              }
              
              span{
                display: none;
              }
              
              strong{
                display: block;
                font-weight: 400;
                font-size: 18px;
                color: #FFFFFF;
                letter-spacing: 1.27px;
                text-transform: uppercase;
                padding-top: 20px;
                font-family: 'Open Sans Condensed';

                a{
                  font-size: 18px;
                  color: #FFFFFF;
                  font-family: 'Open Sans Condensed';

                  &:hover{
                    color: #D8232A;
                  }
                }
              }
            }
          }
        }
      }


    }
  }




  .feedbackblock{
    padding: 50px 0px;
    background: #EDF0F1;

    .feedback-heading{
      h2{
        font-weight: 700;
        font-size: 24px;
        color: #343434;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        border-bottom: 4px solid rgba( 0,  0,  0, 0.2);
        float: left;
        width: 100%;
        font-family: 'Open Sans Condensed';
        padding: 0px;

        span{
          border-bottom: 4px solid #D8232A;
          padding-bottom: 20px;
          float: left;
          margin-bottom: -4px;
          font-weight: 900;
        }
      }
    }


    .feedbackslider{
      padding: 0;

      .feedback-item-wrap{
        padding: 50px 15px 15px 15px;

        .feedback-inner{
          float: left;
          width: 100%;
          border: 1px solid #E4E4E4;
          padding: 0 30px 30px 30px;

          .user-img{
            float: left;
            width: 100%;
            text-align: center;

            img{
              display: inline-block;
              width: 140px;
              margin-top: -70px;
              border-radius: 50%;
            }
          }


          .user-txt{
            float: left;
            width: 100%;
            padding-top: 40px;
            background: url('images/quote-left-transpaernt.png') center top no-repeat;
            background-size: 20px;
            margin-top: 30px;

            .testi_content{
              float: left;
              width: 100%;
              font-size: 16px;
              color: #191919;
              letter-spacing: 0.47px;
              text-align: center;
              line-height: 26px;

              p{
                font-size: 16px;
                color: #191919;
                letter-spacing: 0.47px;
                text-align: center;
                line-height: 26px;
              }
            }

            h2{
              float: left;
              width: 100%;
              text-align: center;
              font-weight: bold;
              font-size: 20px;
              color: #0A0A0A;
              letter-spacing: 0.57px;
              line-height: 31px;
              font-family: 'Open Sans Condensed';
            }

            h4{
              float: left;
              width: 100%;
              font-size: 15px;
              color: #595959;
              letter-spacing: 1.09px;
              text-align: center;
              padding: 0;
              margin: 0;
            }
          }
        }

      }

      .slick-dots{
        float: left;
        width: 100%;
        position: relative;
         text-align: center;
        top:0 ;
      }
    }


  }

 .more-articlebox{
   padding: 50px 0px;

   .more-articles-heading{
     h2{
       font-weight: 700;
       font-size: 24px;
       color: #343434;
       letter-spacing: 0.8px;
       text-transform: uppercase;
       border-bottom: 4px solid rgba( 0,  0,  0, 0.2);
       float: left;
       width: 100%;
       padding: 0px;
       font-family: 'Open Sans Condensed';

       span{
         border-bottom: 4px solid #D8232A;
         padding-bottom: 20px;
         float: left;
         margin-bottom: -4px;
         font-weight:  900;
       }
     }

     a{
       float: right;
       font-weight:  700;
       text-transform: uppercase;
       font-size: 14px;
       color: #D8232A;
       letter-spacing: 0.47px;
       line-height: 25px;
       padding-right: 30px;
       background: url("images/arrow-right.png") right center no-repeat;

       &:hover{
         padding-right: 20px;
         background-size: 5px;
       }
     }
   }



   .more-article-item{
     margin-bottom: 15px;
     margin-top: 15px;

     .allpage_author{
       display: none;
     }
   }




   .artilce-wrap{

     @media (max-width: 767px) {
       padding-bottom: 20px;
       border-bottom: 1px solid #E1E8ED;
     }


     .article-img{
       float: left;
       width: 100%;
       background-size: cover;
       background-position: center;
       height: 40vh;
       max-height: 235px;

       @media (max-width: 767px) {
         width: 150px;
         height: 150px;
         float:  right;
       }

       @media (max-width: 567px) {
         width: 80px;
         height: 80px;
       }


     }

     .article-txt{
       border: 1px solid #E1E8ED;
       float: left;
       width: 100%;
       border-top:0px;
       padding: 25px;

       p{
         font-family:  'Lato', sans-serif;
       }


       @media (max-width: 767px) {
         width: calc(100% - 150px);
         float:  right;
         padding: 0 20px 0 0 ;
         border: 0px;
       }

       @media (max-width: 567px) {
         width: calc(100% - 80px);



       }

       .taglist{
         float: left;
         width: 100%;

         ul{
           padding: 0;
           margin: 0px;
           width: 100%;
           float: left;

           li{
             display: inline-block;
             padding:  0 5px 0 0;
             margin: 0 5px 5px 0px;
             border-right: 1px solid #C9C9C9;
             list-style-type: none;

             &:last-child{
               border:0px;
               padding-right:0px;
               margin-right: 0px;
             }



             a{
               font-size: 14px;
               color: #D8232A;
               letter-spacing: 0.43px;
               line-height: 14px;
               float: left;
               text-transform: uppercase;

               &:hover{
                 text-decoration: underline;
               }
             }
           }
         }

       }

       .titlebox{
         float: left;
         width: 100%;
         padding: 5px 0px 15px 0px;

         @media (max-width: 567px) {
           padding: 5px 0 0 0;
         }

         h2{
           padding: 0;
           margin: 0px;
         }



         a{
           font-size: 20px;
           color: #0A0A0A;
           letter-spacing: 0.57px;
           line-height: 24px;
           float: left;
           width: 100%;
           text-transform: uppercase;

           @media (max-width: 567px) {
             font-size: 16px;
           }
           
           &:hover{
             color: #D8232A;
           }
         }

         span{
           font-size: 14px;
           color: #6C6C6C;
           letter-spacing: 1.09px;
           padding-top: 10px;
           line-height: 24px;
           display:  inline-block;
           font-family: 'Open Sans Condensed';

           a{
             color: #6C6C6C;
             font-size: 14px;
             width: auto;
             padding-right: 5px;
             text-transform: uppercase;
             font-family: 'Open Sans Condensed';
           }
         }
       }

       .descriptions{
         float: left;
         width: 100%;
         font-size: 15px;
         color: #191919;
         letter-spacing: 0.47px;
         line-height: 26px;
       }
     }



   }



 }



}


.memberbox-home{
  background: #fff;

  .container{

    .memberbox-block{
      border-bottom: 1px solid #E1E8ED;
      padding: 30px 0px;
      text-align: center;

      .memberbox-block-inner{
        width: auto;
        padding-left: 120px;
        background: url("images/himal-home-member.png") left center no-repeat;
        background-size: 100px;
        min-height: 100px;
        max-width: 500px;
        float: none;
        display: inline-block;
      }

      .home-member-btn{
        margin-top: -30px;

        @media (max-width: 470px) {
          margin-top: 10px;
        }
      }

      a{
        background: #FCD237;
        padding: 0px 15px;
        line-height: 30px;
        height: 30px;
        display:  inline-block;
        border-radius: 5px;
        color: #0A0A0A;
        font-size: 12px;
        text-transform: uppercase;

        &:hover{
          color: #FCD237;
          background: #0A0A0A;
        }
      }

      img{
        float: none;
        display: inline-block;
        width: 100%;
        max-width: 800px;

      }
    }

    h2{
      font-size: 21px;
      color: #0A0A0A;
      letter-spacing: 1.09px;
      text-align: center;
      width: 100%;
      line-height: 40px;
      padding: 15px 0px 10px 0px;
      margin: 0;
      float: left;
    }

  }

}



.taglist{
  float: left;
  width: 100%;

  ul{
    padding: 0;
    margin: 0px;
    width: 100%;
    float: left;

    li{
      display: inline-block;
      padding:  0 5px 0 0;
      margin: 0 5px 5px 0px;
      border-right: 1px solid #C9C9C9;
      list-style-type: none;

      &:last-child{
        border:0px;
        padding-right:0px;
        margin-right: 0px;
      }



      a{
        font-size: 14px;
        color: #D8232A;
        letter-spacing: 0.43px;
        line-height: 16px;
        float: left;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed';

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}





.memberbox{
  background: url(images/single-t/Membership-banner_Web.jpg) no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20px 0px;
  border: solid 5px #d8d8d8;


  @media (max-width: 991px) {
    display: none;
  }

  .container{
    max-width: 1200px;
  }

  .subscribe-button{
    text-align: right;

    a{
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 1.4px;
      font-weight: 600;
      text-transform: uppercase;
      background: #000000;
      border: 1px solid #000;
      height: 32px;
      line-height: 32px;
      padding: 0px 20px;
      border-radius: 27px;
      display: inline-block;
      font-family: Oswald;
      margin-top: 3rem;
      margin-left: 9rem;

      &:hover{
        background: #fff;
        color: #000;
      }
    }

    @media (max-width: 991px) {
      text-align: center;
    }

  }

  .subscribe-info{
    h2{
      font-size: 28px;
      color: #0A0A0A;
      padding: 0px;
      margin: 0;
      font-weight: 700;
      font-family: Oswald;

      @media (max-width: 991px) {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        padding-bottom: 20px;
      }
    }


    h3{
      font-size: 25px;
      color: #0A0A0A;
      padding: 0px;
      margin: 0;
      font-weight: 700;
      font-family: Oswald;
      padding-top: 20px;
    }

  }


  &.memberbox-article{

    .subscribe-button{
      padding-top: 58px;
      display: flex;
      justify-content: center;
    }

  }





}




.alm-btn-wrap{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  float: left;
  width: 100%;

  .alm-load-more-btn{
    font-weight:600;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    border: 1px solid #D8232A;
    background: #D8232A;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Open Sans Condensed';

    &:hover{
      background: #fff;
      color: #D8232A;
    }
  }
}
