.jounalist-page{

  .page-banner{
    padding:150px 0px;
    background-size: cover;
    background-position: center;

    h1{
      font-weight: 700;
      font-size: 56px;
      color: #FFFFFF;
      letter-spacing: 1.87px;
      text-align: center;
      line-height: 53px;

      span{
        color: #CA3036;
      }
    }

  }



  .page-content{
    padding: 50px 0px;

    p{
      font-size: 21px;
      color: #191919;
      letter-spacing: 0.7px;
      line-height: 40px;
    }

    .content-box{
      padding-bottom: 50px;
    }


  }



  .journelist-tables{
    padding-bottom: 50px;

    .journal-table-block{

      .jounal-item{

        .journal-heading{
          float: left;
          width: 100%;
          background: #181818;
          padding: 20px 30px;
          border-bottom: 1px solid #fff;

          h2{
            padding: 0   30px  0 0px;
            margin: 0;
            float: left;
            width: 100%;
            font-weight: 700;
            font-size: 24px;
            color: #FFFFFF;
            line-height: 40px;
            background: url("images/journal-arrow-down.png") right center no-repeat;
            cursor: pointer;
          }

          &.active{
            h2{
              background: url("images/journal-arrow-up.png") right center no-repeat;
            }
          }
          
        }


        .journal-info{
          float: left;
          width: 100%;
          background: #EDF0F1;
          padding: 30px 0px;


          .jounal-info-txt{
            padding: 0px 30px 30px 30px;
            float: left;
            width: 100%;

            p{
              font-size: 21px;
              color: #191919;
              letter-spacing: 0.7px;
              line-height: 40px;
            }
          }



          .jouranl-info-table{
            float: left;
            max-width: 100%;
            min-width: 100%;
            border: 0px;

            thead{
              background: #CA3036;

              th{
                border: 1px solid #B1B1B1;
                border-top:0px;
                border-left:0px;
                font-weight: 600;
                font-size: 20px;
                color: #FFFFFF;
                line-height: 19px;
                padding: 20px 10px;
              }
            }

            tbody{
              tr{
                td{
                  border: 1px solid #B1B1B1;
                  border-top:0px;
                  border-left:0px;
                  padding: 20px 10px;
                  font-size: 18px;
                  color: #191919;
                  letter-spacing: 0.6px;
                  line-height: 40px;

                  &:first-child{
                    border-left: 1px solid #B1B1B1;
                  }
                }

                &.even{
                    background-color: #fff;
                }

                &.odd{
                  background-color: #EDF0F1;
                }

              }

              .child{
                ul{
                  float: left;
                  width: 100%;
                  padding: 0;
                  margin:0;

                  li{
                    float: left;
                    width: 100%;
                    list-style-type: none;
                    padding-bottom: 8px;

                    font-size: 16px;
                    color: #191919;
                    letter-spacing: 0.6px;

                    .dtr-title{
                      padding-right: 15px;
                      font-weight: bold;
                      width: 170px;
                      float: left;
                    }

                    .dtr-data{
                      float: left;
                      width: calc(100% - 190px);
                    }
                  }

                }
              }


            }


            &.collapsed{
              tr{
                td{
                  font-size: 16px;


                  &:first-child{
                    padding-left: 40px;
                    background: url('images/arrow-down-tiny.png') left 8px center no-repeat;
                    cursor: pointer;
                    background-size: 20px;

                    &.dataTables_empty{
                      background: none;
                    }
                  }
                }

                &.parent{
                  td {
                    &:first-child {
                      background: url('images/arrow-up-tiny.png') left 8px center no-repeat;
                      background-size: 20px;
                    }
                  }
                }

                &.child{
                  td{
                    background: none;
                  }
                }
              }
            }
          }

          .dataTables_wrapper{
            float: left;
            width: 100%;

            .dataTables_length{
              float: right;
              width: 50%;
              padding: 30px 30px 30px  30px;
              text-align: right;
              margin: 0;

              label{
                font-weight: 300;
                font-size: 14px;
              }

              @media (max-width: 767px) {
                width: 100%;
                float: left;
                padding : 0px 30px;
              }
            }

            .dataTables_filter{
              float: left;
              width:50%;
              padding: 0 30px 30px  30px;
              text-align: left;

              label{
                font-size: 0;
                padding: 0;
                width: 100%;
                margin: 0;

                input{
                  float: left;
                  width: 100%;
                  max-width: 460px;
                  background: #FFFFFF;
                  border: 1px solid #B1B1B1;
                  height: 50px;
                  line-height: 50px;
                  padding: 0px 15px;
                  font-size: 18px;
                  color: #666;
                  letter-spacing: 0.6px;
                  margin: 0;
                }
              }

              @media (max-width: 767px) {
                width: 100%;
                float: left;
              }
            }


            .dataTables_info{
              float: left;
              width: 50%;
              padding: 30px 30px 30px  30px;
              margin: 0;

              label{
                font-weight: 300;
                font-size: 14px;
              }

              @media (max-width: 767px) {
                width: 100%;
                float: left;
              }
            }

            .dataTables_paginate{
              float: left;
              width: 50%;
              padding: 30px;

              @media (max-width: 767px) {
                width: 100%;
                float: left;
              }
            }
          }






        }
      }
    }
  }



}

