.magazine-wrap{

  .archive_search{
    background: url('images/archive_banner-web.png') top no-repeat;
    padding: 150px 0 100px 0px;
    background-size: cover;

    @media (max-width: 767px) {
      background: url('images/archive_banner-mobile.png') top no-repeat;
      background-size: cover;
    }

    .container{
      max-width: 900px;
    }

    .search_bar{
      float: left;
      width: 100%;
      border-bottom: 1px solid #000;
      padding-bottom: 15px;

      input[type="text"]{
        font-size: 32px;
        color: #000;
        letter-spacing: 1.07px;
        line-height: 40px;
        height:40px;
        border: 0px;
        float: left;
        background-color: transparent;
        width: calc(100% - 50px);
        padding: 0;
        margin: 0;
        font-weight: 700;
      }

      input[type="submit"]{
        width: 40px;
        height: 40px;
        float: right;
        border: 0;
        background: url("images/search-btn.png") center no-repeat;
        background-color: transparent;

      }

    }

    .ad_search_bar{
      float: left;
      width: 100%;
    }


    .search_info{
      float: left;
      width: 100%;
      padding-top: 40px;

      h2{
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        color: #000;
        letter-spacing: 1px;
        line-height: 47px;
      }
    }


    .search_btn{
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 30px;

      a{
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        color: #000;
        letter-spacing: 0.5px;
        padding: 0px 20px;
        border: 1px solid #000;
        height: 40px;
        line-height: 40px;
        border-radius:20px;
      }
    }


  }



  .magazine-data{
    float: left;
    width: 100%;

    .magazin-head{
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;

      span{
        display: inline-block;
        font-weight: 700;
        font-size: 28px;
        color: #343434;
        letter-spacing: 0.93px;
        line-height: 56px;
      }

      .select_wrap{
        float: right;
        background: url("images/select-arrow.png") center right no-repeat;
        padding-right: 20px;
        overflow: hidden;
        margin-top: 15px;

        select{
          float: left;
          width: calc(100% + 40px);
          background-color: transparent;
          border:0;
          font-weight: 700;
          font-size: 21px;
          color: #343434;
          text-transform: uppercase;
        }


      }

    }


    .magazin-list{
      padding-bottom: 50px;

      .magzine_box{
        padding-top: 30px;
        padding-bottom: 50px;
        float: left;
        width: 100%;

        a{
          .magzine-img{
            float: left;
            width: 100%;
            background-size: cover;
            background-position: center;

            img{
              float: left;
              width: 100%;
              transition: all .2s ease-in-out;
              height: 100%;
              object-fit: cover;
            }
          }

          &:hover{
            opacity:1;

            img{
              transform: scale(1.01);
            }
          }
        }
      }


      .magzine-txt{
        float: left;
        width: 100%;
        padding: 20px 30px;
        text-align: center;

        span{
          font-weight: 700;
          text-transform: uppercase;
          font-size: 18px;
          color: #858585;
          letter-spacing: 1.6px;
          line-height: 28px;
        }
        
        &:hover{
          span{
            color: #D8232A;
          }
        }

      }



    }


  }



  .magazin-btn-wrap{
    text-align: center;
    padding-top: 30px;

    a{
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.47px;
      border: 1px solid #D8232A;
      background: #D8232A;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      width: 150px;
      text-align: center;
      border-radius: 20px;
      cursor: pointer;
      float: none;
      font-family: 'Open Sans Condensed';

      &:hover{
        color: #D8232A;
        background: #fff;
      }
    }
  }

}