.membership-page-wrap{
  overflow: hidden;

  .backgrond-bar{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;

    background-size: 100% ;
    background: url("images/hima-map-member-bg.png") top center repeat-y;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

    img{
      width: 100%;
      opacity: 0;
    }

  }

  .membership-intro{
    padding-top: 40px;




    .container{
      max-width: 1000px;

      @media (max-width: 1000px) {
        max-width: 90%;
      }

      .membership-inner{
        float: left;
        width: 100%;
        background: rgba(255, 255, 255, 0.96);
        padding: 30px;
        margin-bottom: 40px;

        &.membership-inner-red{
          background: rgba(252, 210, 55, 0.98);

          h3{
            font-size: 40px;
            color: #D8232A;
            font-family: 'Open Sans Condensed';
            font-weight: 700;
            text-transform: uppercase;
          }

          p{
            font-family: 'Melior';
            font-size: 22px;
            color: #000;
            line-height: 25px;
          }

          ul{
            li{
              font-family:  'Lato', sans-serif;
              list-style-image: url("images/list-icon-white.png");
              font-size: 20px;
              color: #000;
            }
          }
        }
      }

      .membership-txt{
        text-align: center;

        ul{
          float: left;
          width: 100%;

          li{
            float: left;
            width: 100%;
            list-style-image: url("images/list-icon.png");
            font-size: 17px;
            color: #424242;
            letter-spacing: 0.57px;
            line-height: 35px;
            padding-bottom: 6px;
            text-align: left;
          }
        }
      }



      h3{
        font-weight: bold;
        font-size: 21px;
        color: #0A0A0A;
        letter-spacing: 0.7px;
        padding: 20px 0px 20px 0px;
        margin: 0px;
      }

      p{
        font-size: 17px;
        color: #424242;
        letter-spacing: 0.57px;
        line-height: 35px;
        padding-bottom: 10px;
      }




    }


    .faq-wrapper{
      float: left;
      width: 100%;
      padding-top: 50px;

      .faq-item{
        float: left;
        width: 100%;


        .faq-quize{
          background: url( 'images/arrow-head-down.png') right 15px center no-repeat rgba(225, 225, 227, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          cursor: pointer;
          font-weight: bold;
          font-size: 21px;
          color: #0A0A0A;
          letter-spacing: 0.7px;
          padding: 20px 35px 20px 15px;
          margin: 0px;

          &.active{
            background: url( 'images/arrow-head-up.png') right 15px center no-repeat rgba(225, 225, 227, 0.5);
          }
        }


        .faq-answer {
          padding: 20px 15px;
          float: left;
          width: 100%;
          font-size: 17px;
          color: #424242;
          letter-spacing: 0.57px;
          line-height: 35px;
          display: none;

          p{
            font-size: 17px;
            color: #424242;
            letter-spacing: 0.57px;
            line-height: 35px;
          }
        }

      }
    }



    .readers-slider{

      .slider-item{
        text-align: center;
        padding: 100px 20px 20px 20px;

        .slider-item-inner{
          text-align: center;
          border: 1px solid #E4E4E4;
          display: inline-block;
          width: 100%;
          max-width: 450px;
          padding:40px 20px ;

          .reader-photo{
            float: left;
            width: 100%;
            text-align: center;
            margin-top: -150px;
            padding-bottom: 30px;

            img{
              width: 140px;
              height: 140px;
              overflow: hidden;
              border-radius: 50%;
              display:  inline-block;
              float: none;
            }
          }


          .reader-txt{
            float: left;
            width: 100%;
            padding-top: 40px;
            background: url(images/quote-left-transpaernt.png) center top no-repeat;
            background-size: 20px;

            h3{
              float: left;
              width: 100%;
              text-align: center;
              font-weight: bold;
              font-size: 20px;
              color: #0A0A0A;
              letter-spacing: 0.57px;
              line-height: 31px;
              padding: 0px;
              margin:  0px;
            }

            p{
              font-size: 17px;
              color: #424242;
              letter-spacing: 0.57px;
              line-height: 35px;
            }
          }

        }
      }

      ul{
        text-align: center;
        position:  relative;
        bottom: 0;

        li{
          button{
            &:before{
              background-color: #DBDDDE;
              border: 2px solid #DBDDDE;
              height: 12px;
              width: 12px;
              border-radius: 50%;
              overflow: hidden;
              font-size: 0;
            }
          }

          &.slick-active{
            button {
              &:before {
                background-color: #DBDDDE;
                border: 2px solid #D8232A;
              }
            }
          }
        }
      }

    }


    .membership-txt{

      .membership-txt-inner{
        float: left;
        width: 100%;
        max-width: 600px;
        padding:100px  50px;

        h2{
          font-weight: bold;
          font-size: 21px;
          color: #0A0A0A;
          letter-spacing: 0.7px;
          padding: 20px 0px 20px 0px;
          margin: 0px;
        }

        p{
          font-size: 17px;
          color: #424242;
          letter-spacing: 0.57px;
          line-height: 35px;
        }
      }


      .membership-right-inner{
        float: right;
        width: 100%;
        max-width: 600px;
        padding:100px  50px;

        h2{
          font-weight: bold;
          font-size: 21px;
          color: #0A0A0A;
          letter-spacing: 0.7px;
          padding: 20px 0px 20px 0px;
          margin: 0px;
        }

        p{
          font-size: 17px;
          color: #424242;
          letter-spacing: 0.57px;
          line-height: 35px;
        }

        ul{
          float: left;
          width: 100%;

          li{
            float: left;
            width: 100%;
            list-style-image: url("images/list-icon.png");
            font-size: 17px;
            color: #424242;
            letter-spacing: 0.57px;
            line-height: 35px;
            padding-bottom: 6px;
          }
        }
      }
    }
  }



  .packages-list{
    background: rgba(252, 210, 55, 0.8);
    padding: 100px 0px;
    margin-bottom: 50px;

    .membership-title{
      text-align: center;
      padding-bottom: 40px;

      h2{
        font-weight: 900;
      }
    }

    .membership-blocks{
      text-align: center;

      .membership-item{
        display:  inline-block;
        background: #fff;
        max-width: 250px;
        width: 100%;
        float: none;
        margin-bottom: 40px;

        h3{
          padding: 15px 15px 0px  15px;
          text-align: center;
          margin: 0px;
          background: #666;
          color: #fff;
          text-transform: uppercase;
          font-size: 18px;
          line-height: 24px;
          font-weight: 700;
          min-height: 70px;
        }

        .more-data{
          float: left;
          width: 100%;
          padding: 15px;
          text-align: center;

          h4{
            color: #333;
            font-weight: 700;
            font-size: 30px;
            margin : 40px 0px;
          }

          .more-link{
            width: 140px;
            display: inline-block;
            text-transform: uppercase;
            height: 40px;
            line-height: 40px;
            border-radius: 20px;
            background: #D8232A;
            color: #fff;
            font-size: 14px;
            border: 1px solid #D8232A;
            font-family: 'Open Sans Condensed';
            
            &:hover{
              background: #fff;
              color: #D8232A;
            }
          }

          .more-data{
            color: #777777;

            &:hover{
              color: #CA3036;
            }
          }

        }
      }

      .last{
        width: 100%;
        text-align: center;


        .membership-item{


          h3{
            background: #333;
          }

        }
      }

    }



  }





  .membership-bottom{
    background: #FCD237;
    margin-top: 50px;
    padding: 50px 0px;

    h2{
      color: #161616;
      font-size: 35px;
      font-weight: 900;

      span{
        color: #CA3036;
        font-weight: 900;
      }
    }
  }


}




.membership-more {
  float: left;
  width: 100%;
  display: none;
}

  .membership-data{
    width: 100%;
    max-width: 550px;
    padding: 30px 50px;
    text-align: center;
    background: #fff;
    float: left;

    .membership-data-in{
      float: left;
      width: 100%;
      text-align: center;

      h3{
        font-size: 24px;
        font-weight: 700;
        color: #CA3036;
        letter-spacing: 0.87px;
        text-align: center;
      }

      h4{
        font-size: 18px;
        font-weight: 700;
        color: #0A0A0A;
        letter-spacing: 1px;
        text-align: center;
      }

      ul{
        padding: 10px 0px;
        margin: 0px;
        float: left;
        width: 100%;


        li{
          list-style-image: url("images/list-icon-tick.png");
          float: left;
          width: 100%;
          padding-bottom: 10px;
          text-align: left;
          font-size: 18px;

          span{
            font-size: 18px;
          }
        }
      }
    }


  }



  .pmpro_checkout{

    .pmpro_thead-msg{
      a{
        background: #CA3036;
        height: 30px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.47px;
        line-height: 30px;
        border: 0px;
        padding: 0px 30px;
        border: 1px solid #CA3036;
        float: right;
        border-radius: 15px;
        font-style: normal;
        
        &:hover{
          background: #fff;
          color: #CA3036;
        }
      }
    }
  }


.article-content-wrap{
  table{
    margin-bottom: 30px;

    th{
        background: #ededed;
    }

    td{
      p{
        padding: 15px 0px;
        font-size: 15px;
      }

      ul{
        float: left;
        width: 100%;
        padding: 15px  20px;
        margin: 0px;


        li{
          float: left;
          width: 100%;
          list-style-image: url("images/list-icon-tick.png");
          font-size: 14px;
          color: #424242;
          letter-spacing: 0.57px;
          line-height: 35px;
          padding-bottom: 6px;
          text-align: left;
        }
      }


      label{
        font-weight: normal;
        font-size: 16px;
        padding-top: 0px;
        margin-top: 10px;
      }

      input[type='text']{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
        font-family: 'Open Sans Condensed';
        letter-spacing: 1px;
      }


      input[type='email']{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-family: 'Open Sans Condensed';
        font-size: 16px;
        letter-spacing: 1px;
      }


      select{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
        font-family: 'Open Sans Condensed';
        letter-spacing: 1px;

        &#ExpirationMonth{
          max-width: 60px;
        }
        &#ExpirationYear{
          max-width: 100px;
        }
      }


    }

  }

  input[type='submit']{

    &.pmpro_btn{
      width: auto;
      padding: 0px 30px;
      border-radius: 20px !important;
      height: 40px;
      line-height: 40px;
    }

  }
}

#pmpro_levels_table {

  th{
    background: #ededed;
    padding: 10px 15px;
    font-size: 16px;
  }

  td{
    padding: 10px 15px;
    font-size: 14px;
    p{
      padding: 15px 0px;
    }

    a{

    }

    label{
      font-weight: normal;
      font-size: 16px;
      padding-top: 0px;
      margin-top: 10px;
    }

    input[type='text']{
      background: #fff;
      border: 1px solid #ededed;
      padding: 0px 15px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      font-size: 16px;
      font-family: 'Open Sans Condensed';
      letter-spacing: 1px;
    }


    input[type='email']{
      background: #fff;
      border: 1px solid #ededed;
      padding: 0px 15px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      font-family: 'Open Sans Condensed';
      font-size: 16px;
      letter-spacing: 1px;
    }


    select{
      background: #fff;
      border: 1px solid #ededed;
      padding: 0px 15px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      font-size: 16px;
      font-family: 'Open Sans Condensed';
      letter-spacing: 1px;

      &#ExpirationMonth{
        max-width: 60px;
      }
      &#ExpirationYear{
        max-width: 100px;
      }
    }


  }

}

#nav-below{
  padding-top: 30px;
  margin-top: 30px;
  border-bottom: 0px solid #fff;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#pmpro_account{
  float: left;
  width: 100%;

  .pmpro_box{
    width: 100%;
    float: left;
    border-top: 0px solid #CCC;

    h3{
      padding: 15px 0px;
      text-align: center;
      margin: 0px;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      text-align: left;
      float: left;
      width: 100%;
    }
  }


  table{
    margin-bottom: 30px;

    th{
      background: #ededed;
      padding: 10px 15px;
      font-size: 16px;
    }

    td{
      padding: 10px 15px;
      font-size: 14px;
      p{
        padding: 15px 0px;
      }

      a{

      }

      label{
        font-weight: normal;
        font-size: 16px;
        padding-top: 0px;
        margin-top: 10px;
      }

      input[type='text']{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
        font-family: 'Open Sans Condensed';
        letter-spacing: 1px;
      }


      input[type='email']{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-family: 'Open Sans Condensed';
        font-size: 16px;
        letter-spacing: 1px;
      }


      select{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
        font-family: 'Open Sans Condensed';
        letter-spacing: 1px;

        &#ExpirationMonth{
          max-width: 60px;
        }
        &#ExpirationYear{
          max-width: 100px;
        }
      }


    }

  }



  p{
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.53px;
    line-height: 35px;
  }

  ul{
    float: left;
    width: 100%;
    padding: 15px  20px;
    margin: 0px;


    li{
      float: left;
      width: 100%;
      list-style-image: url("images/list-icon.png");
      font-size: 17px;
      color: #424242;
      letter-spacing: 0.57px;
      line-height: 35px;
      padding-bottom: 6px;
      text-align: left;
    }
  }

  a{
    font-size: 14px;
  }

  #pmpro_account-profile{
    a{
      width: auto;
      display: inline-block;
      text-transform: uppercase;
      height: 30px;
      line-height: 30px;
      border-radius: 15px;
      background: #D8232A;
      color: #fff;
      font-size: 12px;
      border: 1px solid #D8232A;
      margin-right: 10px;
      padding: 0px 20px;
      font-family: 'Open Sans Condensed';

      &:hover{
        background: #fff;
        color: #D8232A;
      }
    }
  }



  #pmpro_account-membership{
    td{
      a{
        width: auto;
        display: inline-block;
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        border-radius: 15px;
        background: #D8232A;
        color: #fff;
        font-size: 12px;
        border: 1px solid #D8232A;
        margin-right: 10px;
        padding: 0px 20px;
        font-family: 'Open Sans Condensed';

        &:hover{
          background: #fff;
          color: #D8232A;
        }
      }
    }
  }

}

.default-page-data{
  padding-top: 30px;

  li{
    font-size: 19px  ;
    color: #191919;
    letter-spacing: -0.4px;
    line-height: 30px;
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Melior';

    strong{
      color: #000;
    }
  }



  p{
    font-size: 19px  ;
    color: #191919;
    letter-spacing: -0.4px;
    line-height: 30px;
    padding: 0 0px 10px 0px;
    margin: 0;
    font-family: 'Melior';
    
    a{
      color: #D8232A;
    }
  }

  .response-result{
    tr{
      td{
        padding: 5px 10px;
        font-size: 16px;
        font-family: 'Open Sans Condensed';

        &.lefted{
          font-weight: 900;
        }
      }
    }
  }

}

.login-form{
  margin : 0px 0px 40px 0px;
  background: #efefef;
  padding: 30px;
  border: 1px solid #ededed;
  float: left;
  width: 100%;

  .form-group{
    float: left;
    width: 100%;

    input[type='text']{
      background: #fff;
      border: 1px solid #ededed;
      padding: 0px 15px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      font-size: 16px;
      font-family: 'Open Sans Condensed';
      letter-spacing: 1px;
      margin: 5px 0px;
    }

    input[type='email']{
      background: #fff;
      border: 1px solid #ededed;
      padding: 0px 15px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      font-size: 16px;
      font-family: 'Open Sans Condensed';
      letter-spacing: 1px;
      margin: 5px 0px;
    }

    input[type='password']{
      background: #fff;
      border: 1px solid #ededed;
      padding: 0px 15px;
      height: 40px;
      line-height: 40px;
      width: 100%;
      font-size: 16px;
      font-family: 'Open Sans Condensed';
      letter-spacing: 1px;
      margin: 5px 0px;
    }

    label{
      margin-top:  5px;

      &:focus{
        color: #D8232A;
      }
    }


    .login-field:focus+.login-field-icon{
      color: #D8232A;
    }


  }

  .lite-cyan-check{

  }


  .btn-primary{

    background-color: #2B2B2B !important;
    height: 40px;
    width: 120px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.47px;
    line-height: 19px;
    padding: 0px;
    border-radius: 20px !important;
    border: 1px solid #2B2B2B;

    &:hover{
      color: #2B2B2B;
      background: #fff !important;
    }
  }

  table{
    margin-bottom: 30px;

    th{
      background: #ededed;
    }

    td{
      p{
        padding: 15px 0px;
      }

      label{
        font-weight: normal;
        font-size: 16px;
        padding-top: 0px;
        margin-top: 10px;
      }




      input[type='email']{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-family: 'Open Sans Condensed';
        font-size: 16px;
        letter-spacing: 1px;
      }


      select{
        background: #fff;
        border: 1px solid #ededed;
        padding: 0px 15px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 16px;
        font-family: 'Open Sans Condensed';
        letter-spacing: 1px;

        &#ExpirationMonth{
          max-width: 60px;
        }
        &#ExpirationYear{
          max-width: 100px;
        }
      }


    }

  }

  input[type='submit']{

    &.pmpro_btn{
      width: auto;
      padding: 0px 30px;
      border-radius: 20px !important;
      height: 40px;
      line-height: 40px;
    }

  }
}