.submission-page{
  padding-top: 50px;

  .container{
    max-width: 930px;

  }

  .section-heading{
    padding:0px 15px;


    span{
      font-weight: 700;
      font-size: 28px;
      color: #0A0A0A;
      letter-spacing: 0.93px;
    }
  }

  .submision_subheading{
    margin-top : 30px;
    padding: 0 15px;

    h3{
      font-size: 26px;
      color: #AB3C3C;
      letter-spacing: 0.87px;
      margin:  0;
    }

  }

  .submisioninfobox_wrap{
    margin: 20px 0 30px 0px;
  }


  .subheading{
    font-weight: bold;
    font-size: 21px;
    color: #0A0A0A;
    letter-spacing: 0.7px;
    padding: 20px 35px 20px 15px;
    margin: 0px;
  }

  p{
    font-size: 19px  ;
    color: #191919;
    letter-spacing: -0.4px;
    line-height: 30px;
    padding-bottom: 25px;
    font-family: 'Melior'  ;
  }

  span{
    font-size: 17px;
    color: #424242;
    letter-spacing: 0.57px;
    line-height: 35px;
  }

  .submisioninfo_box{
    padding: 20px 15px;
    float: left;
    width: 100%;
  }



  .submisioninfobox{


    h2{
      background: url(" images/arrow-head-down.png") right 15px center no-repeat rgba(225, 225, 227, 0.5);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
      cursor: pointer;
      font-family: 'Open Sans Condensed';

      &.active{
        background: url(" images/arrow-head-up.png") right 15px center no-repeat rgba(225, 225, 227, 0.5);
      }
    }

    .submisioninfo_box{
      display:  none;

      p{
        font-family:  'Lato', sans-serif;
      }
    }


  }




}