@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');



@font-face {
    font-family: 'Aileron';
    src: url('Aileron-SemiBold.woff2') format('woff2'),
        url('Aileron-SemiBold.woff') format('woff'),
        url('Aileron-SemiBold.ttf') format('truetype'),
        url('Aileron-SemiBold.svg#Aileron-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Light.woff2') format('woff2'),
        url('Aileron-Light.woff') format('woff'),
        url('Aileron-Light.ttf') format('truetype'),
        url('Aileron-Light.svg#Aileron-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron';
    src: url('Aileron-Bold.woff2') format('woff2'),
        url('Aileron-Bold.woff') format('woff'),
        url('Aileron-Bold.ttf') format('truetype'),
        url('Aileron-Bold.svg#Aileron-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}







@font-face {
    font-family: 'Melior';
    src: url('MeliorFC-Bold.woff2') format('woff2'),
    url('MeliorFC-Bold.woff') format('woff'),
    url('MeliorFC-Bold.ttf') format('truetype'),
    url('MeliorFC-Bold.svg#MeliorFC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Melior';
    src: url('MeliorFC.woff2') format('woff2'),
    url('MeliorFC.woff') format('woff'),
    url('MeliorFC.ttf') format('truetype'),
    url('MeliorFC.svg#MeliorFC') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Franklin Gothic Medium Cond';
    src: url('FranklinGothic-MediumCond.woff2') format('woff2'),
    url('FranklinGothic-MediumCond.woff') format('woff'),
    url('FranklinGothic-MediumCond.ttf') format('truetype'),
    url('FranklinGothic-MediumCond.svg#FranklinGothic-MediumCond') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondensedBold.woff2') format('woff2'),
    url('OpenSans-CondensedBold.woff') format('woff'),
    url('OpenSans-CondensedBold.ttf') format('truetype'),
    url('OpenSans-CondensedBold.svg#OpenSans-CondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondensedLight.woff2') format('woff2'),
    url('OpenSans-CondensedLight.woff') format('woff'),
    url('OpenSans-CondensedLight.ttf') format('truetype'),
    url('OpenSans-CondensedLight.svg#OpenSans-CondensedLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('OpenSans-CondensedLightItalic.woff2') format('woff2'),
    url('OpenSans-CondensedLightItalic.woff') format('woff'),
    url('OpenSans-CondensedLightItalic.ttf') format('truetype'),
    url('OpenSans-CondensedLightItalic.svg#OpenSans-CondensedLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}



@font-face {
    font-family: 'KozGoPro-Regular';
    src: url('KozGoPro-Regular.eot');
    src: local('☺'), url('KozGoPro-Regular.woff') format('woff'), url('KozGoPro-Regular.ttf') format('truetype'), url('KozGoPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


